/******* Perfect 10 *******/
/* #perfect-ten{
    background: url('../img/perfect-10.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  background-position: top center;
    min-height: 122px;
    margin: 0 auto;
}
#perfect-ten-mobile{
    background: url('../img/perfect-10-mobile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  background-position: top center;
    min-height: 150px;
    margin: 0 auto;
} */

/*Free to Play Competition*/
#ftp-contents .nav-tabs {
        color: #fff;
    border-bottom: 5px solid #0e6857;
        background: #a6a6a6;
}
#ftpTabs li.active a{
    color: #fff;
    font-weight: bolder;
    background-color: #0e6857;
  border: none;
    border-bottom: 1px solid #0e6857;
}
#ftp-contents .nav-tabs > li > a{
        color: #fff;
        border-radius: 0;
        font-weight: bold;
}
#ftp-contents .nav li a:hover , .nav li a:focus {
    background-color: #0e6857;
        border: none;
}
.ftp-container{
    background: #f0f0f0;
    border: 1px solid #d9d9d9;
    border-top: none;
    min-height: 600px;
}
#myTabContent{
        padding: 20px;
}
#myTabContent h1{
    font-weight: bold;
    color: #fa6200;
}
.ftp-contest-submit{
    margin: 25px 0 20px 0;
}
.ftp-contest-submit .submit{
    color:#fff;
    font-weight: bold;
    background: #fa6200;
    padding: 10px 30px;
    border: none;
    letter-spacing: 1px;
}
.row .btn-contest{
    padding: 5px 15px;
    min-width: 300px;
    margin: 10px;
    border: none;
    color: #575757;
    background: #fff;
}
#ftp-contents .nav-tabs.nav-justified li a{
    border:none;
    margin-bottom: 0;
}
#ftppgold2{
    font-size: 15px;
}
#ftppgold2 .perfect-pred{
    font-size: 22px;
    color: #fa6200;
    font-weight: bold;
    margin-top: 10px;
}
#ftppgold2 .prize-str{
    font-size: 16px;
    line-height: 0;
}
#ftppgold2 h3{
    font-weight: bold;
    margin:5px 0;
}
#ftppgold2 .terms-condition ul{
    padding: 0 0 0 20px;
}
#ftppgold2 .terms-condition{
    padding: 10px 20px;;
    background: #d3d3d3;
    margin: 20px auto;
}

#ftp-leaderboard-content .table tbody tr:nth-of-type(odd) {
  background: #e4e4e4;
}
#ftp-leaderboard-content .table-hover tbody tr:hover {
  color: #01a182;
}
#ftp-leaderboard-content table tbody tr{
    height: 27px;
    background: #fff;
}
#ftp-leaderboard-content .table tbody tr td{
    padding: 2px 0;
}
#ftp-leaderboard-content table thead th{
    font-size: 16px;
    color: #fff;
    background: #0e6857;
    height: 36px;
    padding: 6px 0;
}
#ftp-leaderboard-content table thead{

}

/******* Seasonal Leaderboard *******/
.s-lead{
    background: #f0f0f0;
    min-height: 700px;
}
#s-lead h1{
    font-weight: bold;
    color: #fa6200;
}

#s-lead thead{
    font-size: 16px;
    color: #fff;
    background: #0e6857;
}
#s-lead .well{
    background: #d3d3d3;
}

/*Tipsters Comparison START*/
#tipscomparison{
    float: left;
    width: 100%;
    font-family: "montserrat";
}

#tccontainer{
    width: 1050px;
    margin: 0 auto;
}
#tcpage{
    width: 750px;
    float: left;
}
#tctitle{
    background: #0e6857;
    color: #ffffff;
    width: 99.5%;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#tctagline{
    width: 100%;
}
#tctagline p{
    float: left;
    font-size: 16px;
    margin: 15px 0px;
}
#tctagline button{
    float: right;
    background: #fa6200;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 10px;
    margin: 5px 5px;
    font-weight: bold;
    width: 160px;
}
#tctblcontainer{
    width: 100%;
    float: left;
}
.tctbl{
    width: 370px;
    background: url("../img/tcbg.jpg");
    float: left;
    margin: 5px 5px 0 0;
    height: 370px;
}
#tcad{
    float: left;
    margin: 0 0 0 10px;
    width: 270px;
}
.tcadbaby{
    width: 265px;
    background: white;
    height: 260px;
    margin-bottom: 10px;
    border: solid 2px #f16334;
}
.tbltitle{
    text-align: center;
    background: #10664b;
    padding: 8px;
    height: 50px;
}
.tipform{
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}
.tcwhite{
    color: #ffffff;
    vertical-align: bottom;
}
.tcgreen{
    color: #0de9a4;
    vertical-align: bottom;
}
.tcmatch{
    float: left;
    width: 100%;
    margin: 10px 0;
    margin-bottom: 0;
}
.tcmatchgme{
    float: left;
    width: 175px;
    color: #ffffff;
    text-align: center;
}
.tcmatchgme p{
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    margin-bottom: 0;
}
.tcvs{
    color: #ffffff;
    vertical-align: middle;
    height: 100px;
    float: left;
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
}
.tctip{
    font-size: 24px;
    font-weight: bold;
    color: #ff6400;
    text-align: center;
    float: left;
    width: 100%;
}
.tctbl button{
    color: #ffffff;
    background: #fa6200;
    border: none;
    margin: 15px 0;
    font-size: 18px;
    padding: 6px;
    width: 170px;
}
.tcadtop{
    background: url(../img/kidlat.jpg) no-repeat center;
    width: 100%;
    height: 33px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    padding: 1px;
}
.tcadtitle{
    width: 100%;
    float: left;
    text-align: center;
}
.tcadtitle p{
    margin: 0;
}
.tcadtitle p:nth-of-type(1){
    font-weight: bold;
    font-size: 20px;
}
.tcadmatches{
    font-weight: bold;
    float: left;
    line-height: 55px;
    padding: 0 5px;
}
.tcadimg{
    width: 55px;
    float: left;
}
.tcadimg img{
    width: 100%;
}
.tcadmatch{
    float: left;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.tcadban{
    background: url(../img/tcadban.jpg) no-repeat center;
    height: 95px;
    width: 100%;
    float: left;
    background-size: cover;
}
/*Tipsters Comparison END*/

/*TC Summary Report START*/
#tcsrtbl{
    width: 750px;
    margin: 20px auto;
    border: 1px solid #dadada;
    background: #ffffff;
}
#summaryreports{
    float: left;
    width: 100%;
    font-family: "montserrat";
    background: #ffffff;
}
#summaryreportscont{
    width: 1050px;
    background: #eeeef0;
    margin: 0 auto;
    padding: 10px;
    height: 870px;
    text-align: center;
}
#summaryreportscont h2{
    font-weight: bold;
    color: #fa6200;
}
#summaryreportscont p{
    font-size: 15px;
}
#tcsrtbl th{
    background: #0e6857;
    color: #ffffff;
    text-align: center;
    border: 1px solid #dadada;
}
#tcsrtbl tr:nth-child(even) {
    background-color: #f2f2f2
}
#tcsrtbl td{
    border: 1px solid #dadada;
}
/*Previews & Tips START*/
.pttbl {
    width: 305px;
    background: url(../img/minikidlat.png) no-repeat top left;
    background-color: #ffffff;
    float: left;
    margin: 10px 4px;
    min-height: 325px;
    border: solid 2px #f16334;
    background-position: -2px -2px;
}
#pttblcontainer{
    width: 940px;
    margin: 0 auto;
}
#pttitle{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
#pt{
    float: left;
    width: 100%;
    font-family: "montserrat";
}
.pttop{
    width: 170px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 1px;
    color: #484848;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    position: relative;
    top: -15px;
    background: #ffffff;
}
.ptpagetitle{
    width: 100%;
    text-align: center;
    margin-top: -5px;
}
.ptpagetitle h4{
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}
.ptpagetitle p{
    font-size: 13px;
    margin-bottom: 0;
}
.ptmatch {
    float: left;
    width: 100%;
    padding: 0 10%;
    margin: 0;
    height: 87.69px;
}
.ptmatchie{
    width: 33.33%;
    float: left;
    text-align: center;
}
.ptmatchie p{
    font-weight: bold;
    margin: 2px;
    font-size: 13px;
}
.ptmatchie img{
    width: 60%;
}
.ptph{
    float: left;
    width: 100%;
    padding: 5px 30px;
    font-size: 15px;
    margin: 0;
    font-size: 13px;
    max-height: 64px;
}
.pttip{
    float: left;
    width: 100%;
    padding: 5px 0 0px 0px;
    font-size: 15px;
    text-align: center;
}
.pttip span{
    color: #01a182;
    width: 100%;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 0px;
}
.pttip button{
    color: #ffffff;
    background: #fa6200;
    border: none;
    margin: 0;
    font-size: 14px;
    padding: 8px;
    width: 120px;
}
.pttip p{
    margin: 0;
    font-size: 14px;
}
.ptadbaby{
    width: 265px;
    background-color: white;
    height: 205px;
    margin-bottom: 10px;
    background-size: cover;
}
.ptban1{
    background: url(../img/ptban1.jpg) no-repeat center;
    background-size: cover;
}
.ptban2{
    background: url(../img/ptban2.jpg) no-repeat center;
    background-size: cover;
}
#pt2cont{
    background: #ffffff;
    float: left;
    max-width: 708px;
    width: 100%;
}
#pt2title{
    background: #0e6857;
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    padding: 4px;
}
.pt2matchcont{
    width: 100%;
    float: left;
}
.pt2match:nth-of-type(1){
    padding-left: 60px;
}
.pt2match:nth-of-type(3){
    padding-right: 60px;
}
.win{
    background: green;
    color: white;
}
.draw{
    background: gray;
    color: white;
}
.pt2match{
    float: left;
    width: 236px;
    height: 210px;
    text-align: center;
    margin: 20px 0;
}
.pt2img{
    border: 1px solid #d9d9d9;
    width: 130px;
    margin: 0 auto;
    height: 130px;
    background: #f0f0f0;
}
.pt2img img{
    width: 80px;
    margin: 25px;
}
.pt2match h1{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
.lilc{
    float: left;
    width: 25px;
    margin: 3px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
}
.pt2status{
    width: 186px;
    margin: 0 auto;
    position: relative;
}
.pt2match p, .pt2match h3{
    margin: 0;
}
.pt2match:nth-of-type(2) img{
    margin: 10px;
}
.pt2match p{
    font-size: 18px;
}
.pt2match h3{
    font-size: 40px;
}
#pt2tables{
    width: 100%;
    float: left;
}
#pt2tablessize{
    width: 670px;
    margin: 0 auto;
}
#pttabs{
    width: 100%;
    float: left;
}
#pttabs ul li{
    float: left;
    background: #a6a6a6;
    text-align: center;
    padding: 3px;
    float: left;
    width: 223px;
    cursor: pointer;
    font-size: 13px;
}
#pttabs ul{
    list-style: none;
    padding: 0;
    width: 100%;
    float: left;
    margin: 0;
}
.pt2selected{
    background: #0e6857 !important;
    color: white;
}
.pttabres{
    width: 669px;
    border-top: 3px solid #0e6857;
    float: left;
    padding: 10px;
    display: none;
}
#pt2com{
    width: 100%;
    float: left;
    margin: 10px 0;
}
#pt2com div{
    width: 230px;
    height: 100px;
    margin: 3px;
    float: left;
    cursor: pointer;
}
#pttab1{
    display: block;
}
.pt2com1 img{
    width: 100%;
}
#pttab2{
    font-family: arial;
}
.h2htables{
    width: 100%;
    float: left;
    /*margin: 10px 0;*/
}
.h2htables table{
    width: 100%;
    text-align: center;
    border-left: solid white;
    border-right: solid white;
    font-size: 12px;
}
.showmoreh2h{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}
.showmoreh2h a{
    border-bottom: 1px solid;
    color: black;
    font-size: 12px;
}
.showmoreh2h a:hover{
    text-decoration: none;
}
.h2htables table td{
    border: 1px solid #e0e0e0;
}
.h2htabletitle{
    width: 100%;
    float: left;
    background: linear-gradient(#595959, #373737);
    color: white;
    padding: 3px 5px;
    font-size: 12px;
}
.h2htables table tr:nth-child(even){
    background-color: #f2f2f2
}
.h2htables table img{
    width: 20px;
    margin: 0 5px;
    float: left;
}
.h2htables table span{
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 20px;
    position: relative;
    float: left;
    margin: 1px 5px;
    font-size: 12px;
}
.h2h-lose{
    background: #dc2022;
}
.h2h-draw{
    background: #f4b147;
}
.h2h-win{
    background: #28bb2b;
}
.h2htables table tr td:nth-of-type(1){
    width: 70px;
}
.h2htables table tr td:nth-of-type(2){
    width: 65px;
}
.h2htables table tr td:nth-of-type(5){
    width: 50px;
    font-weight: bold;
}
.h2htables table tr td:nth-of-type(6){
    width: 32px;
}
.h2htables table tr td:nth-of-type(2), .h2htables table tr td:nth-of-type(3),.h2htables table tr td:nth-of-type(4){
    text-align: left;
    padding: 0px 3px;
}
td{
    padding: 1px 0;
}
.h2hwinner{
    background: #fcf1b7;
    font-weight: bold;
}
/*Previews & Tips END*/
/*Free to Play Competition START*/
#ftpmainpage{
    font-family: "montserrat";
}
.ftpbancont{
    width: 100%;
    height: 190px;
    float: left;
    background: url(../img/home-banner.jpg) no-repeat top center;
}
.size1050px{
    width: 1050px;
    background: #eeeef0;
    margin: 0 auto;
}
.ftpopts{
    width: 331px;
    height: 340px;
    float: left;
    margin: 20px 0px 0 15px;
}
.ftpopts img{
    width: 100%;
}
.width100floatleft{
    width: 100%;
    float: left;
}
#ftpmainpage h1, #ftpmainpage p{
    margin: 0;
    text-align: center;
}
#ftpmainpage h1{
    padding: 15px 0px 5px 0;
    color: #fa6200;
    font-weight: bold;
}
#ftpmainpage .size1050px{
    height: 550px;
}
#ftprankings{
    width: 318px;
    float: left;
    margin: 20px 20px;
}
#ftprankings span{
    width: 100%;
    background: #0e6857;
    color: white;
    float: left;
    padding: 7px;
    font-weight: bold;
    text-align: center;
}
#ftprankings table{
    width: 100%;
    height: 305px;
    font-size: 12px;
}
#ftprankings table th, #ftprankings table td{
    text-align: center;
    border: 1px solid #dadada;
}
#ftprankings table th{
    background: #8f8f8f;
    color: #fff;
    border-top: none;
    padding: 3px;
}
#ftprankings table tr:nth-of-type(even){
    background: #e4e4e4;
}
#ftprankings table tr:nth-of-type(odd){
    background: #ffffff;
}
.linkprop{
    color: black;
    text-decoration: underline;
    font-size: 12px;
}
/*FTP Perfect 10*/
.ftp10ban{
    background: url(../img/ftpbanner.jpg) no-repeat center;
}
#ftpp10tabs{
    width: 100%;
    float: left;
    background-color: #a6a6a6;
}
#ftpp10tabs ul{
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #0e6857;
    float: left;
}
#ftpp10tabs ul li{
    float: left;
    width: 350px;
    color: white;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
}
#ftpp10 .size1050px{
    height: 660px;
    margin: 10px auto;
    margin-bottom: 0;
}
.ftpp10active{
    background-color: #0e6857;
}
.ftpp10tabcont{
    float: left;
    width: 100%;
    display: none;
        font-family: "montserrat";
    background: #eeeef0;
}
#ftpp101, #ftppgold1{
    display: block;
}
.orangep{
    color: #fa6200;
    font-weight: bold;
    font-size: 16px;
}
#ftpp102 p{
    text-align: left;
        font-family: "montserrat";
    margin: 0;
    line-height: 25px;
}
#ftpp102{
    padding: 0 20px;
    font-size: 15px;
}
#htpbox{
    background-color: #d3d3d3;
    height: 235px;
    width: 660px;
        font-family: "montserrat";
    margin: 0 auto;
    text-align: left;
}
#htpbox h3{
    padding: 15px 20px 0;
    font-weight: bold;
}
#ftpp103 p{
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
}
#ftpp103 table{
    text-align: center;
    background: #ffffff;
    width: 720px;
    margin: 0 auto;
    border: 1px solid #b8b8b8;
}
#ftpp103 table tr:nth-of-type(even){
    background: #e4e4e4;
}
#ftpp103 table th{
    text-align: center;
    background: #0e6857;
    color: white;
}
#ftpp103 table td, #ftpp103 table th{
    border: 1px solid #dddddd;
    padding: 3px;
}
#rnd1{
    background-color: #d3d3d3;
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#ftpp101 h2, #ftpp102 h2, #ftpp103 h2{
    text-align: center;
    color: #fa6200;
    font-weight: bold;
}
.p10bet-tabs{
    width: 310px;
    height: 151.09px;
    float: left;
    background-color: white;
    margin: 3px;
    text-align: center;
    padding-bottom: 5px;
}
.p10bet-title{
    width: 100%;
    float: left;
    background-color: #d3d3d3;
    padding: 2px;
    font-size: 12px;
}
#ftpp101{
    padding: 0 10px;
}
.p10bet-updown i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: left;
    margin: 5px 16px;
    cursor: pointer;
}
.p10bet-tabs .up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.p10bet-tabs .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.p10bet-img, .p10bet-vs, .p10bet-vs-cont{
    float: left;
}
.p10bet-img{
    width: 85px;
    text-align: left;
    margin: 7.5px 0;
}
.p10bet-img img{
    margin: 15px;
    float: left;
    width: 55px;
}
.p10bet-vs{
    line-height: 97px;
    margin: 0 10px;
}
.p10bet-vs-cont span{
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    text-align: center;
    font-size: 26px;
}
.p10bet-updown{
    float: left;
    width: 41px;
    padding: 10px 0;
}
#p10bet-btn{
    background: #fa6200;
    border: none;
    color: #ffffff;
    width: 180px;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    padding: 10px;
}
/*Free to Play Competition END*/

/* Live Score START */
#livescore{
    float: left;
    width: 100%;
        font-family: "montserrat";
}
#livescorecontainer{
    width: 1050px;
    margin: 0 auto;
}
#livescorecontainer2{
    width: 100%;
    float: left;
    background: #eeeef0;
    padding: 10px 15px;
    min-height: 770px;
}

/* Live ScoreEND*/

/*23/08/2018*/
#ftppgold1 h2, #ftppgold2 h2, #ftppgold3 h2{
    text-align: center;
    color: #fa6200;
    font-weight: bold;
}
#ftppgold1{
    display: block;
}
#ftppgold1{
    padding: 0 45px;
}
#ftppgold2 p{
    text-align: left;
        font-family: "montserrat";
    margin: 0;
    line-height: 25px;
}
#ftppgold2{
    padding: 0 20px;
    font-size: 15px;
}
#ftppgold3 p{
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
}
#ftppgold3 table{
    text-align: center;
    background: #ffffff;
    width: 720px;
    margin: 0 auto;
    border: 1px solid #b8b8b8;
}
#ftppgold3 table tr:nth-of-type(even){
    background: #e4e4e4;
}
#ftppgold3 table th{
    text-align: center;
    background: #0e6857;
    color: white;
}
#ftppgold3 table td, #ftppgold3 table th{
    border: 1px solid #dddddd;
    padding: 3px;
}
.ftppgoldtabcont{
    float: left;
    width: 100%;
    display: none;
        font-family: "montserrat";
    background: #eeeef0;
}
#ftppgoldtabs{
    width: 100%;
    float: left;
    background-color: #a6a6a6;
}
#ftppgoldtabs ul{
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #0e6857;
    float: left;
}
#ftppgoldtabs ul li{
    float: left;
    width: 350px;
    color: white;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
}

/* version 2 */
/* 24/08/2018 */
.tctable1{
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}
#tccontainer h3{
    font-size: 22px;
    color: #fa6200;
    text-align: center;
    margin: 0;
        font-weight: 700;
}
#tccontainer p, .tctable1 th, .tctable1 tr td{
    text-align: center;
}
.tctable1 th{
    background-color: #0e6857;
    color: #fff;
    padding: 5px;
    font-weight: normal;
}
.tctable1 button{
    border: none;
    color: #fff;
    background: #fa6200;
    width: 110px;
    padding: 8px;
}
.tctable1 tr td:nth-of-type(1){
    width: 150px;
}
.tctable1 tr td:nth-of-type(1) img{
    width: 100%;
    height: 49.66px;
    object-fit: cover;
}
.tctable1 tr td:nth-of-type(2){
    width: 130px;
}
.tctable1 tr td:nth-of-type(3){
    width: 295px;
}
.tctable1 tr td:nth-of-type(3) img, .tctable1 tr td:nth-of-type(3) p{
    float: left;
}
.tctable1 tr td:nth-of-type(3) img{
    width: 40px;
    margin: 5px 19px;
}
.tctable1 tr td:nth-of-type(3) p{
    width: 135px;
    margin: 5px 0;
}
.tctable1 tr td:nth-of-type(6){
    width: 135px;
}
.tctable1 tr td:nth-of-type(5){
    width: 155px;
}
.tctable1 tr td:nth-of-type(4){
    font-weight: bold;
}
.tctable1 th, .tctable1 td{
    border: 1px solid #c9c9c9;
    border-top: none;
}
.tctable1 th{
    font-weight: 600;
}
.tctable1 tr:nth-of-type(even){
    background: #d9d9d9;
}
#tctable2{
    width: 100%;
    margin: 10px 0;
    float: left;
}
#tctable2 td{
    border: 1px solid #bbbbbb;
    text-align: center;
    /* padding: 5px;
    font-size: 12px; */
    height: 30.39px;
}
.tcnote{
    float: left;
    font-size: 12px;
    text-align: left !important;
    width: 100%;
}
.tcvpt{
    font-size: 15px;
    width: 200px;
    border: none;
    color: #fff;
    background: #01a182;
    padding: 12px;
    margin-bottom: 60px;
    margin-top: 10px;
}
.sideshit{
    width: 100%;
    float: left;
    font-size: 15px;
    margin: 10px 0;
}
.sideshit p{
    text-align: left !important;
    margin-top: 0;
}

/*27/08/2018*/
#tccontainer2{
    width: 1050px;
    margin: 0 auto;
}
.tccontainercont{
    padding: 10px 15px;
    float: left;
    width: 100%;
    background: #eeeef0;
}
#tccontainer2 h3{
    font-size: 22px;
    color: #fa6200;
    text-align: center;
    margin: 0;
        font-weight: 700;
}
#tccontainer2 p, .tctable1 th, .tctable1 tr td{
    text-align: center;
}
.tctickers{
    width: 100%;
    float: left;
}
.tctickers ul{
    list-style: none;
    width: 200px;
    margin: 0 auto;
    height: 30px;
    padding: 0;
}
.tctickers ul li{
    float: left;
    border: 1px solid #d7d7d9;
    width: 25px;
    text-align: center;
    color: #01a182;
    border-right: none;
    cursor: pointer;
    background: transparent;
    transition: .2s;
}
.tctickers ul li:last-child{
    border-right: 1px solid #d7d7d9;
}
.tctickers ul li:hover{
    background: #01a182;
    color: #fff;
    border: 1px solid #01a182;
}
.tctickers-active{
    background: #01a182 !important;
    color: #fff !important;
    border: 1px solid #01a182 !important;
}
.ptvs{
    line-height: 70px;
}
#pttitle h3{
    font-weight: bold;
}
#pttitle{
    margin-bottom: 5px;
}
#ptcontainer{
    width: 1050px;
    margin: 0 auto;
}
#ptcontainer h3{
    font-size: 22px;
    color: #fa6200;
    text-align: center;
    margin: 0;
        font-weight: 700;
}
#ptcontainer p, .tctable1 th, .tctable1 tr td{
    text-align: center;
}
#pttblcontainer3{
    width: 940px;
    margin: 0 auto;
}
#pttblcontainer3 .pttbl{
    background: #fff;
    border: solid 2px #d5d5d5;
}


/*28/08/2018*/
.instra{
    width: 908px;
    height: 62px;
    margin: 0px auto;
    margin-top: 15px;
}
.instra img{
    width: 100%;
}
#ftpp102 ul{
    padding: 0 20px;
    margin-bottom: 30px;
}
#ftpp10 .col-centered{
    float: left;
    margin: 10px 0;
    margin-bottom: 30px;
}
#ftpp10 .col-centered ul{
    padding: 0 20px;
}
#slbtbl{
    float: none;
    margin: 0 auto;
    min-width: 870px;
}
#slbtnc{
    float: none;
    margin: 0 auto;
    min-width: 870px;
}
#s-lead .well{
    background: none;
    border: none;
    box-shadow: none;
}
#lsmain{
    width: 700px;
    float: left;
    background: #fff;
    border: 1px solid #d9d9d9;
}
#lsleft{
    width: 140px;
    float: left;
    margin: 0 10px;
}
.lsleft-title{
    background: #ffcbaf;
    border: .5px solid #e5b79d;
    border-left: none;
    border-right: none;
    font-weight: bold;
    float: left;
    width: 100%;
    font-size: 11px;
    padding: 3px;
    color: #656565;
}
.lsleft-tab{
    margin-bottom: 10px;
    background: #f0f0f0;
    float: left;
    width: 100%;

}
.lsleft-tab span{
    width: 100%;
    float: left;
    color: #656565;
    font-size: 10px;
}
#lsmain h3{
    color: #fa6200;
    text-align: center;
    width: 100%;
    font-weight: bold;
  margin: 10px 0;
    font-size: 22px;
}
#lsmiddle{
    width: 520px;
    float: left;
}
.lsdate{
    float: right;
    height: 25px;
}
#lsnav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#lsnav ul li{
    float: left;
    background: #e7e7e7;
    margin-right: 1px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    font-size: 11px;
}
#lsnav{
    float: left;
    width: 100%;
    border-bottom: 5px solid #01a182;
    font-size: 12px;
}
.lscontent{
    float: left;
    width: 100%;
    font-size: 10px;
}
#lsnav .active{
    background: #01a182;
    color: #fff;
}
.lsdate span{
    float: left;
    margin-left: 1px;
    height: 100%;
    text-align: center;
}
.lsdate span:nth-of-type(1), .lsdate span:nth-of-type(3){
    background: #e7e7e7;
    padding: 4px;
    cursor: pointer;
}
.lsdate span:nth-of-type(2){
    background: #01a182;
    color: #fff;
    width: 87px;
    padding: 4px;
    font-size: 11px;
}
#lsmobile .lsdate span:nth-of-type(1), #lsmobile .lsdate span:nth-of-type(3){
    background: #01a182;
}
#lsmobile .lsdate span:nth-of-type(1),
#lsmobile .lsdate span:nth-of-type(3){
    width: 10%;
}
#lsmobile .arrw{
    color:#fff;
}
#lsmobile .lsdate span{
    margin-left:0;
}
/* 10/09/2018 */
.lsleft-tab p{
    color: #656565;
    font-size: 10px;
    padding: 5px;
    float: left;
    width: 100%;
    margin: 0;
}
.lsleft-tab span img{
    width: 13px;
    height: 8px;
    vertical-align: -5px;
    margin: 5px 5px;
}
.lsleft-title span{
    color: #fa6200;
    width: auto;
    margin: 2px 2px;
}
.lscountry{
    background: none;
    border-color: #cdcdcd;
    padding: 5px;
}
.morecount{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #656565;
    cursor: pointer;
    margin-bottom: 3px;
    text-decoration: underline;
}
.lsdate img{
    float: left;
    width: 12px;
    margin: 2px 0;
}
.lscontent table{
    width: 100%;
    text-align: center;
}
.lscontent table td:nth-of-type(2), .lscontent table td:nth-of-type(5){
    width: 50px;
}
.lscontent table td:nth-of-type(1){
    width: 25px;
}
.lscontent table td:nth-of-type(3){
    width: 65px;
}
.lscontent table td:nth-of-type(4){
    text-align: right;
}
.lscontent table td:nth-of-type(6){
    text-align: left;
}
.lscontent table tr:first-child{
    background: #e9e9e9;
}
.lscontent table tr.active{
    background: #ffcbaf;
}
.lscontent table th img:first-child{
    width: 15px;
    height: 10px;
    margin: 3px;
}
.lscontent table tr{
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}
/* #lsside{
     float: left;
    width: 310px;
    margin: 0 5px;
} */
#loginbody{
    margin: 0 auto;
}
.scimg{
    width: 100%;
        padding: 5px 3px;
}
.individer{
    width: 100%;
    height: 12px;
    border-bottom: .5px solid #aaa9a9;
    text-align: center;
    margin: 10px 0 20px 0px;
    color: #aaa9a9;
}
.individer span{
    font-size: 12px;
    background-color: #fff;
    padding: 0 10px;
}
.no-radius{
    border-radius: 0 !important;
}
#register-link, #login-link, #forgot-link, #forgot-login-link{
    color: #01a182;
    cursor: pointer;
}
#registerna, #forgotna, .modal-tits{
    display: none;
}
#login-tit{
    display: block;
}
.disabled{
    color: #777777;
    cursor: default !important;
}
.pttbl-side{
    width: 100%;
    margin: 5px 0;
    min-height: 315px;
    color: #484848;
    margin-bottom: 0;
}
.pttbl-side .ptph{
    font-size: 12px;
    font-weight: normal;
}
.your-rank{
    margin: 20px 0;
}
#rnd1 span:nth-of-type(1){
    float: left;
    width: 15px;
}
#rnd1 span:nth-of-type(3){
    float: right;
    width: 15px;
}
#rnd1 span img{
    width: 99.3%;
    cursor: pointer;
}
#rnd1 span{
    margin: 0 2px;
}
.p10bet-updown input{
    border: none;
    width: 100%;
    text-align: center;
    padding: 0;
    color: #000;
}
.p10bet-updown input::placeholder{
    color: #000;
}
.w100fl{
    width: 100%;
    float: left;
    padding: 5px;
    overflow: auto;
}

/* 13/09/2018 */
#lsmobile{
    width: 100%;
    float: left;
    display: none;
}
#lsmobile table{
    width: 100%;
    font-size: 12px;
    border-bottom:  1px solid #bfbfbf;
    margin-bottom: 5px;
}
#lsmobile table td{
    color: #000;
}
#lsmobile table tr td, #lsmobile table tr:nth-of-type(odd) td:nth-of-type(2){
    text-align: center;
}
#lsmobile table tr td:nth-of-type(2), #lsmobile table tr:nth-of-type(odd) td:nth-of-type(1){
    text-align: left;
}
#lsmobile table tr:nth-of-type(even) td:nth-of-type(1){
    width: 50px;
    color: #01a182;
}
#lsmobile table tr td:last-child{
    width: 35px;
}
#lsmobile table tr:nth-of-type(odd) {
    border-bottom:  1px solid #bfbfbf;
}
#lsmobile table tr td:first-child {
    border-bottom:  1px solid #bfbfbf;
}
#lsmobile table tr:nth-of-type(even) td:last-child{
    background: #f4f4f4;
    border-bottom:  1px solid #bfbfbf;
}
#lsmobile table th{
    background: #E9E9E9;
    padding: 3px 0px;
    border-top:  1px solid #bfbfbf;
}
#lsnav.moblsnav{
    border-bottom: 3px solid #01a182;
}
#lsnav.moblsnav ul li{
    height: 30px;
    padding: 7px 1px;
}
/* ftp 10 changes*/
#ftpp101-1050{
    width: 948px;
    margin: 0 auto;
}
.p10bet-img p{
    text-align: center;
    font-size: 12px;
}
.p10bet-vs-cont{
    margin: 0 9px;
}
.jayspickdiv{
    width: 97px;
    margin: 0px auto;
}
.jayspickdiv p{
    float: left;
    font-size: 12px;
    margin: 5px 0;
}
.jayspickdiv span{
    font-size: 12px;
    width: 30px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    margin: 2px 5px;
}
#ftpp101 center{
    width: 100%;
    float: left;
}
#pttab1 p{
    text-align: left !important;
    line-height: 23px;
}
.burger{
    float: left;
}
.burger img{
    height: 16px;
}
.burger button, .burger a{
    width: 37px;
    border: none;
    border-radius: 0;
}
.transparent-bg{
    background: transparent;
}
#mob-menu ,#mob-profile{
    background: #000;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: none;
}
#mob-menu ul ,#mob-profile ul{
    list-style: none;
}
#mob-menu ul li, #mob-profile ul li{
    color: #fff;
    padding: 10px 0;
}
#mob-menu ul li img, #mob-profile ul li img{
    width: 15px;
}
#navbar button:focus, #navbar a:focus{
    outline: none;
}
.pttbl-side .pttop{
    color: #ffffff;
    border: none;
    top: -13px;
    background: #fa6200;
}
/* 19/09/2018 */
.caption{
    padding: 10px !important;
}
#blog .rm{
    margin: 15px 0 0 0;
}
#article small{
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.backtoblog{
    margin: 0 0 10px 0;
}
.backtoblog a:hover{
    text-decoration: none;
    color: #337ab7;
}
.color-green{
    color: #00d000;
}
.color-blue{
    color: blue;
}
.color-red{
    color: red;
}