.select_category
{
	  width: 100%;
	  font-size: 18px;
    font-family: Calibri;
}
.categorytable
{
	width:100%;
	font-size: 18px;
  font-family: Calibri;
}

.dropdown-menu a
{
	display:block;
	text-align: center;
	
}

.dropdown-menu a:hover
{
	   color: #fff;
    background-color: #008d4c;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
  }

.label-calculating{
    background-color: #ff852e !important;
}

.label-start{
    background-color: #fdb139 !important;
}

.label-new{
    background-color: #5043c3 !important;
}

.btn-back {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff !important;
}
.bg-newcolor
{
    background-color:#5043c3;
    color:white;
}
.bg-opencolor
{
    background-color:#3c8dbc;
    color:white;
}
.bg-startcolor
{
    background-color:#fdb139;
    color:white;
}
.bg-endcolor
{
    background-color:#dd4b39;
    color:white;
}
.bg-calculatingcolor
{
    background-color:#ff852e;
    color:white;
}
.bg-finishcolor
{
    background-color:#00a65a;
    color:white;
}
.cursor{
    cursor:pointer;
}
@media (min-width: 992px)
{
.league-col {
    width: 300px !important;
}  

.league_logo_img
{
    width: 50px;
    height: 50px;
}

.tipster_logo_img
{
    width: 140px;
    height: 50px;
}
}

   
.main-header {
    position: fixed !important;
    width: 100% !important;
}
.main-sidebar {
    position: fixed !important;
    }
.margin-top_cont{
    margin-top: 50px;
}
