@media(max-width: 1070px){
	#ptcontainer, #tccontainer, #ftpp10 .size1050px, #tccontainer2{
		width: 100%;
	}
	.tctable1 tr td:nth-of-type(5){
		width: auto;
	}
	.tctable1 tr td:nth-of-type(4){
		padding: 5px;
	}
	.tctable1 tr td:nth-of-type(3) img{
		width: 30px;
    	margin: 10px 24px;
	}
	#pt .side-bar{
		display: none;
	}
	#pt2cont{
		float: none;
    	margin: 0 auto;
	}
	.pt2matchcont, #pt2tables{
		background: #fff;
	}
	.pt2match{
		height: auto;
	}
	#ftpmainpage .size1050px{
		width: 100%;
	    height: auto;
    	float: left;
	}
	.ftpopts{
    	width: 48%;
    	text-align: center;
	}
	.ftpopts img{
		width: 331px;
	}
	#ftprankings{
	    margin: 50px auto;
	    float: none;
	    position: relative;
	    top: 20px;
	}
	.instra{
		width: 100%;
		padding: 0 15px;
	}
	#livescorecontainer{
		width: 100%;
	}
	#lsmain{
		float: none;
	    margin: 0 auto;
	    background: none;
	    border: none;
	}
	#livescorecontainer2{
		background: #fff;
	}
	#livescorecontainer2 .side-bar{
		display: none;
	}
	#ftpp10tabs ul li, #ftppgoldtabs ul li{
	    width: 160px;
	}
	#ftpp10tabs ul, #ftppgoldtabs ul{
	    margin: 0 auto;
	    width: 480px;
	    float: none;
	    border: none;
	}
	#ftpp10tabs, #ftppgoldtabs{
	    border-bottom: 4px solid #0e6857;
	}
	#ftpp101 center{
		float: left;
    	width: 100%;
	}
}
@media(max-width: 1060px){
	#pttblcontainer, #pttblcontainer3{
		width: 626px;
	}
}
@media(max-width: 975px){
	#ftpp101-1050{
	    width: 632px;
	}
}
@media(max-width: 855px){
	.tctable1 tr td:nth-of-type(3) img{
		width: 40px;
	    margin: 10px auto;
	    float: none;
	}
	.tctable1 tr td:nth-of-type(3) p{
		margin: 5px auto;
    	float: none;
	}
	.tctable1 tr td:nth-of-type(3){
    	width: 150px;
	}
	.tctable1 tr td:nth-of-type(2) {
    	width: 110px;
	}
	.tctable1 tr td:nth-of-type(6){
	    width: 90px;
	}
	.tctable1 tr td:nth-of-type(1){
		min-width: 105px;
	}
	.tctable1 button{
		width: 80px;
	}
	.ftpopts{
		margin: 10px auto;
    	float: none;
    	width: auto;
	}
	#ftprankings{
		position: unset;
		margin: 10px auto;
	}
}
@media(max-width: 760px){
	.pt2match:nth-of-type(1), .pt2match:nth-of-type(3){
		padding: 0;
		width: 40%;
	}
	.pt2match:nth-of-type(2){
		width: 20%;
	}
	#pt2tablessize, .pttabres, #ftppgold3 table{
		width: 100%;
	}
	#pttabs ul li{
		width: 33.33%;
	}
	#pt2com div{
		float: none;
    	margin: 0 auto;
	}
	#lsleft, #lsmiddle{
		display: none;
	}
	#lsmain{
		width: 100%;
	}
	#lsmobile{
		display: block;
	}
	#livescore #livescorecontainer2{
		padding: 5px 0;
	}
	#lsmobile .lsdate{
		float: none;
    	margin: 0 auto;
    	/* width: 180px; */
			width: 100%;
    	height: 35px;
	}
	#livescorecontainer2{
		min-height: auto;
	}
	.lsdate span:nth-of-type(1), .lsdate span:nth-of-type(3){
		padding: 5px 14px;
	    font-size: 17px;
    	font-weight: bold;
	}
	.lsdate span:nth-of-type(2){
	    width: 100px;
    	padding: 9px 4px;
    	font-size: 12px;
	}
	#lsmobile .lsdate span:nth-of-type(2){
		width: 80%;
		padding: 9px 4px;
		font-size: 12px;

	}
	#ftpp103 table{
		width: 100%;
	}
	#lsnav ul{
    	width: 312px;
	}
}
@media(max-width: 660px){
	#pttblcontainer, #pttblcontainer3{
		width: 305px;
	}
	.pttbl{
	    margin: 10px 0px;
	}
	.tccontainercont{
		padding: 10px 0px;
	}
	.lilc{
	    width: 18px;
	    margin: 0;
	    height: 19px;
	    font-size: 12px;
	    border: 1px solid #fff;
	}
	.pt2status{
		width: 108px;
	}
	.pt2match h1{
		font-size: 15px;
	}
	.pt2img{
	    width: 100px;
	    height: 90px;
	}
	.pt2img img{
		width: 80px;
    	margin: 5px;
	}
	.pt2match:nth-of-type(2) img{
	    margin: 10px 0;
    	width: 80px;
	}
	#tccontainer p, .tctable1 th, .tctable1 tr td{
		font-size: 13px;
	}
	#tccontainer h3{
		font-size: 20px !important;
	}
	#ftpp101-1050 {
    	width: 315px;
	}
	#ftpp101{
		padding: 0;
	}
}
@media(max-width: 560px){
	.tctable1 tr td:nth-of-type(3) img{
		display: none;
	}
	#tccontainer p, .tctable1 th, .tctable1 tr td{
		font-size: 12px;
		text-align: center !important;
	}
	#tctable2 tr{
		float: left;
	}
	#tctable2 td{
		display: block;
	}
	#tctable2 tr:nth-of-type(2) td{
	    height: 30.4px;
	}
	#tctable2{
		width: 245px;
	    margin: 10px auto;
	    float: none;
	}
	#ftpp10tabs ul, #ftppgoldtabs ul{
	    width: 320px;
	}
	#ftpp10tabs ul li, #ftppgoldtabs ul li{
		width: 106px;
	}
}
@media(max-width: 331px){
	.ftpopts img{
		width: 100%;
    	padding: 5px;
	}
}
