@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: rgba(0, 0, 0, .8);
  background: #fff;
  font-family: "montserrat";
}

/*Global*/

/*******Fonts *******/

.montserrat {
  font-family: "montserrat";
}

.poppins {
  font-family: "Poppins";
}

.light {
  font-weight: 300;
}

.med {
  font-weight: 500;
}

.semi-bold {
  font-weight: bold;
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.extra {
  font-weight: 800;
}

.ten-fifty, .nav-container {
  width: 1050px;
  margin: 0 auto;
}

.ten-fifty {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.hundred {
  width: 100%;
  overflow: auto;
}

.border {
  border: 1px solid #d9d9d9;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;
}

.no-borderr {
  border-radius: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
}

.all-space {
  width: 100%;
}

.v-align {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}

.h-align {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
}

.d-block {
  display: block;
}

/* BG */

.bluegreen {
  background: #01a182;
  background-color: #01a182;
}

.orange {
  background: #fa6200;
  background-color: #fa6200;
}

.wash {
  /* background: #d3d3d3;ccdedd3d
  background-color: #d3d3d3; */
  background: #EEEEF0;
  background-color: #EEEEF0;
}

.dark-bg {
  background: #0e6857;
  background-color: #0e6857;
}

.dark-grey {
  background: #8f8f8f;
  background-color: #8f8f8f;
}

.l-grey {
  /* background: #d9d9d9;
  background-color: #d9d9d9; */
  background: #EEEEF0;
  background-color: #EEEEF0;
}

.white-bg {
  background: #fff;
  background-color: #fff;
}

.ls-grey {
  background: #EEEEF0;
  background-color: #EEEEF0;
}

.blck{
  background: #000;
  background-color: #000;

}
/* Colors*/

.light-grey {
  color: #484848;
}

.d-grey {
  color: #9c9c9c;
}

.blueGreen {
  color: #01a182;
}

.white {
  color: #fff;
}

.orange-c {
  color: #fa6200;
}
.veralert.alert{
  margin: 0;
  padding: 5px 0;
  border-radius: 0;
  /* border: none; */
  font-size: 12px;
}
.veralert.alert a{
  /* color: red; */
}
.veralert a:hover, .veralert a:focus{
  text-decoration:none;
  color: #337ab7;
  font-weight: 600;
}
/******* Navigation *******/

.navbar {
  margin: 0;
  border: none;
  top: 0;
}

/* .navbar-brand {
  padding: 12px 0;
} */

#prenav .navbar-header {
  float: left;
}

#navbar .navbar-right {
  margin: 9px 0;
  float: right;
}

#navbar .form-control, #post-navbar .form-control {
  border-radius: 0;
  border: none;
}

#navbar button, #post-navbar button {
  border-radius: 0;
  border: none;
}

#navbar button a, #post-navbar button a {
  color: #fff;
  text-decoration: none;
}

#navbar button, #navbar a {
  border: none;
  border-radius: 0;
}


/******* Post Navigation *******/
#post-navbar .navbar-form{
  margin:0;
  padding-right:0;
}

#post-navbar button, #post-navbar .welcome a.wnme {
  margin-top: 20px;
  border: none;
  border-radius: 0;
}

#post-navbar li.welcome {
  text-decoration: none;
  list-style: none;
  padding: 20px 20px 0 0;
  color: #fff;

}
#post-navbar .wnme {
  color: #fff;
}
#post-navbar .dropdown-menu{
  border-radius:0;
}

/******* Login Modal *******/

.login-modal {
  margin: 10px 0 20px 0;
}

.login-modal .submit {
  color: #fff;
  font-weight: bold;
  background: #fa6200;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.modl-sn{
  padding-right: 10px;
}
/* #loginModal label {
  padding-right: 0;
} */

/* #loginModal img {
  margin-bottom: 15px;
} */

#loginModal .login-link {
  padding-bottom: 5px;
}

#loginModal .login-link a {
  text-decoration: none;
  color: #333333;
  margin: 0;
}

#loginModal .close{
  font-size: 30px;
}

/******* Second Nav *******/

/*
#second-nav {
  background: #01a182;
  padding: 0;
  font-size: 16px;
  display: flex;
}

#second-nav .container {
  padding: 0;
}

.scrollmenu {
  width: 100%;
}

.sn-border {
  border-right: 1px solid #d9d9d9;
}

#second-nav .container .scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

#second-nav .container .scrollmenu ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#second-nav .container .scrollmenu ul li {
  flex-grow: 1;
}

#second-nav .container .scrollmenu ul li a {
  border-left: 1px solid #ffffff61;
  color: #fff;
  padding: 5px 29px;
  text-decoration: none;
  float: left;
  font-size: 13px;
  font-weight: 400;
}

#second-nav .container .scrollmenu ul:first-child {
  border: none;
  border-left: none;
}

.last a {
  border: none;
}

#second-nav .container .scrollmenu ul li a:hover, #second-nav .container .scrollmenu ul li a:active {
  background-color: #0e6857;
}

#second-nav .container .scrollmenu ul li a img {
  margin: -3px 0 0px 0px;
}

#forgotPassword {
  margin-top: 5px;
  padding-left: 3px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
} */

/******* 2nd NAv *******/

#secMenu a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.inner-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0;
}

#secNav {
  margin: 0 auto !important;
  padding: 0 !important;
  background: #01a182;
  box-shadow: 0 0 3px #999;
  width: 100% !important;
}

#secNav .inner-wrapper {
  overflow: auto;
  white-space: nowrap;
}

#secNav #secMenu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0 !important;
  margin: 0;
  width: 100% !important;
  display: table;
}

#secMenu li {
  display: table-cell;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgba(255, 255, 255, .4);
}

#secMenu a.secLink {
  /* color: #fff; */
  padding: 8px 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

#secMenu li:nth-of-type(1) {
  border-left: 1px solid rgba(255, 255, 255, .4);
}

#secNav .inner-wrapper #secMenu li a:hover {
  background: #0e6857 !important;
  background-color: #0e6857 !important;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

/* #secNav .inner-wrapper #secMenu li a:focus:active{
  background: orange!important;
  background-color: orange!important;
}
#secNav .inner-wrapper #secMenu li a:focus{
  background: orange!important;
  background-color: orange!important;
} */

/* .active{
  background: yellow!important;
} */

/* button.selected{
  color:red;
} */

/* #secMenu a:focus{
  outline:5px auto;
  color: red;
} */

/******* Jumbotron *******/

/* .home-banner {
  margin-top: 0px;
  background: url('../img/home-banner.jpg') top center;
  min-height: 250px;
  margin-bottom: 5px;
} */




/******* Home Panel *******/

#home-panel .panel-heading {
  background-color: #01a182;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
  font-size: 15px;
  padding: 5px 10px 5px 15px;
}

#home-panel-tips .panel-heading, .uls-head {
  background-color: #0e6857;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
  font-size: 14px;
  padding: 5px 0 5px 15px;
}

#home-panel-tips .panel {
  margin-bottom: 0;
}

#home-panel-tips {
  margin-bottom: 5px;
}
#home-panel .panel-body {
  border: 1px solid #c9c9c9;
  margin-bottom: 5px;
  padding: 13px 10px 10px 10px
}

#home-panel-tips .tipsters {
  padding: 1px 0;
}

.tipsters img {
  height: 35px;
}

#home-panel-tips .panel .border {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

#home-panel-tips .fa-star {
  margin: 0 2px;
}

#home-panel-tips .tc-m {
  min-height: 45px;
  color: #3a3a3a;
}

#home-panel-tips img.star{
height: 14px;
}

#home-panel-tips .match {
  font-size: 12px;
  font-weight: 500;
}

.panel-default>.panel-heading {
  border: none;
}

.home-ft-img {
  padding: 0 0 0 5px;
}

.orange-b {
  min-height: 100px;
  border: 2px solid #fa6200;
}

.f-thumb {
  border-radius: 0;
  position: relative;
  border: none;
  background: url('../img/featured.png');
  background-repeat: no-repeat;
}
.thumbnail .caption {
    padding: 9px 0 0 0;
    color: #333;
}

.border-time {
  /* border: 1px solid #D3D3D3; */
  background: #fa6200;
  height: 20px;
  position: absolute;
  top: -24%;
  left: 18%;
}

.border-time p {
  font-size: 12px;
  color: #fff;
  padding-top: 2px;
}

#home-panel-desc {
  margin: 0 0 0 15px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.home-tip {
  font-size: 22px;
  padding: 0;
}

#home-rm {
  margin-top: -5px;
  /* margin-top: 0px; */
  padding: 5px 15px;
  color: #fff;
}

#home-panel .h-vs img {
  height: 65px;
}

#home-panel h6 {
  margin: 5px 0;
  font-size: 14px;
}

#home-panel h1 {
  margin: 0;
  /* position: absolute;
  bottom: 0; */
}

#home-panel-left {
  /* padding-left: 15px; */
}

#home-panel .thumbnail .caption {
    padding: 9px 0 0 0;
    color: #333;
}
#home .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}
/* #box-search {
  padding-bottom: 10px;
  height: 140px;
} */
/******* Perfect 10 *******/

#perfect-ten {
  /* background: url('../img/perfect-10.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; */
  /* min-height: 109px; */
  margin: 0 auto 5px;
}

#perfect-ten-mobile {
  /* background: url('../img/perfect-10-mobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; */
  /* min-height: 150px; */
  margin: 0 auto 5px;
}

/******* Home-Tipsters Comparison *******/

.h-tc {
  margin-bottom: 5px;
}

.hm-tips-c {
  background-repeat: View Moret;
  background-position: top center;
}

.hm-tips-bg {
  background-image: url('../img/home-tips-bg.png');
  min-height: 57px;
  background-size: cover;
  background-position: top center;
}

.hm-betdsa {
  background: #13674D;
  min-height: 45px;
}
.hm-betdsa img{
  object-fit: cover;
  height: 45px;
}

.hm-bet-bright {
  background: #0094d0;
  min-height: 45px;
}

.hm-bet-fred {
  background:#01015b ;
  min-height: 45px;
}

.hm-tip {
  font-size: 21px;
  font-weight: bold;
  color: #1fe8c1;
  padding: 10px 0 0 0px;
}

.hm-more {
  color: #252525;
  padding: 4px 0;
  margin: 0;
  text-decoration: underline;
}

.hm-tc-icon {
  margin: 0 0 5px 10px
}

.hm-side-tip {
  padding-left: 12px;
  /*Adjust MQ*/
}
/*******Live Score *******/
#livescore .fa-calendar{
  margin:0;
  padding: 2px;
  border: none;
}

/******* Upcoming Live Streams *******/

/* Home */
.uls-hm-feed-c {
  /* padding: 5px 0; */
}
.uls-hm-feed{
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, .05);
  box-shadow:0px 1px 1px rgba(0, 0, 0, .05);

}
.uls-hm-feed img {
  height: 35px;
  /* margin: 5px 0; */
}

.uls-hm-feed p {
  font-size: 12px;
  font-weight: 500;
}

.uls-hm-feed .submit {
  border: none;
  background: #fa6200;
  color: #fff;
  padding: 5px 25px;
  margin: 0;
  font-size: 10px;
}

.hPl, .hLeague {
  border-right: 1px solid #c9c9c9;
}
.hWatch a:hover, .hWatch a:focus{
  text-decoration:none;
  color: #fff;
  font-weight: 600;
}
.uls-hm-feed .submit a {
  font-size: 9px;
  margin: 0;
}

.uls-hm-feed .aa {
  min-height: 45px;
}

.uls-b {
  border-right: 1px solid #c9c9c9;
}

.hmore-b {
  border-top: 1px solid rgba(221,221,221,.7);
}

.pl {
  font-size: 13px;
  color: #3a3a3a;
}

.ln {
  line-height: 20px;
}

.uls-hm .row {}

/******* Home Sidebar *******/

#home-panel-right,
#side-football-tables {
  /* padding: 8px 15px 5px 15px; */
  margin-bottom: 5px;
}

#home-panel-right ul.f-l li,
#side-football-tables ul.f-l li {
  width: 100%;
  /* padding: 3px 0; */
  border-bottom: 1px solid #dbdbdb;
}

#home-panel-right .dropdown-menu,
#side-football-tables .dropdown-menu  {
  left: -15%;
  min-width: 300px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border:1px solid #8a8a8a;
}
#home-panel-right .dropdown-menu{
  left: -11%;

}
.dropdown-menu>li>a {
  padding: 6px 15px;
}

.dropdown-menu>li>a:last-child {}

.sideTitle {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 5px 0 5px 15px;
  font-weight: 600;
  margin: 0;
}

.side-btn {
  border: none;
  background: none;
}

.side-utitle {
  border-bottom: 4px solid #000;
  padding: 0 2px 0 0;
  margin-bottom: -3px;
  font-size: 13px;
}

.side-fs {
  /* margin-top: 4px; */
  border-bottom: 1px solid #dbdbdb;
}

.first-champ {
  margin-top: 5px;
}

.side-fs a {
  color: #262626;
}

.side-fs a:hover {
  color: #01a182;
  text-decoration: none;
}

.side-fs:hover {
  /* background-color: #f5f5f5; */
}

.champ-text {
  /* margin: 0 15px; */
  font-size: 11px;
  padding: 5px 0;
}

.fs-team {
  padding: 0px 8px;
  font-size: 1.2rem;
  font-weight: 600;
}

.fs-team2 {
  padding: 0px 0 0px 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.fs-score {
  background: #fa6200;
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  letter-spacing: 1px;
}

span .fs-score {
  margin-right: 12px;
}

.last-champ {
  border: none;
}

.agg {
  font-size: 10px;
  /* Adjust MQ*/
  text-align: center;
  letter-spacing: 1px;
  padding: 0 0 0 10px;
  margin-bottom: 3px;
}

.vm-pa {
  padding: 4px 0;
  border-bottom: none;
  /* margin: 0 4% 5px; */
  background: #959595;
}

.vm-pa a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.vm-pa:hover {
  background: #666565;
}

.vm {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/*League Table*/

#side-table-scores {
  padding: 3px 0;
  margin-top: 3px;
}

#side-table-scores table {
  border-spacing: 0;
  font-size: 1.2rem;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table-cell-bold {
  font-weight: 600;
}

#side-table-scores table tr:hover {
  color: #01a182;
}

/* .table .table-break {
  border-top: 2px dashed #747474 !important;
} */

.home-thead {
  background: #EEEEF0;
  margin: 5px 15px 0 15px;
}

.hpr-title {
  background: red;
  margin: 0;
  padding-left: -15px;
  padding-right: -15px;
}

#side-table-scores .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 5px !important;
}
.tble-yellow{
  background-color: #fefde9;
}
.tble-red{
  background-color: #f8e3e3;
}
#side-table-scores th {
  font-weight: 600;
}

/*Free to Play Competition*/

#ftp-contents .nav-tabs {
  color: #fff;
  border-bottom: 5px solid #0e6857;
  background: #a6a6a6;
}

#ftpTabs li.active a {
  color: #fff;
  font-weight: bolder;
  background-color: #0e6857;
  border: none;
  border-bottom: 1px solid #0e6857;
}

#ftp-contents .nav-tabs>li>a {
  color: #fff;
  border-radius: 0;
  font-weight: bold;
}

#ftp-contents .nav li a:hover, .nav li a:focus {
  background-color: #0e6857;
  border: none;
}

.ftp-container {
  background: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-top: none;
  min-height: 600px;
}

#myTabContent {
  padding: 20px;
}

#myTabContent h1 {
  font-weight: bold;
  color: #fa6200;
}

.ftp-contest-submit {
  margin: 25px 0 20px 0;
}

.ftp-contest-submit .submit {
  color: #fff;
  font-weight: bold;
  background: #fa6200;
  padding: 10px 30px;
  border: none;
  letter-spacing: 1px;
}

.row .btn-contest {
  padding: 5px 15px;
  min-width: 300px;
  margin: 10px;
  border: none;
  color: #575757;
  background: #fff;
}

#ftp-contents .nav-tabs.nav-justified li a {
  border: none;
  margin-bottom: 0;
}

#ftp-play-content {
  font-size: 15px;
}

#ftp-play-content .perfect-pred {
  font-size: 22px;
  color: #fa6200;
  font-weight: bold;
}

#ftp-play-content .prize-str {
  font-size: 16px;
  line-height: 0;
}

#ftp-play-content h3 {
  font-weight: bold;
  margin: 5px 0;
}

#ftp-play-content .terms-condition ul {
  padding: 0 0 0 20px;
}

#ftp-play-content .terms-condition {
  padding: 10px 20px;
  ;
  background: #d3d3d3;
}

#ftp-leaderboard-content .table tbody tr:nth-of-type(odd) {
  background: #e4e4e4;
}

#ftp-leaderboard-content .table-hover tbody tr:hover {
  color: #01a182;
}

#ftp-leaderboard-content table tbody tr {
  height: 27px;
  background: #fff;
}

#ftp-leaderboard-content .table tbody tr td {
  padding: 2px 0;
}

#ftp-leaderboard-content table thead th {
  font-size: 16px;
  color: #fff;
  background: #0e6857;
  height: 36px;
  padding: 6px 0;
}

#ftp-leaderboard-content table thead {}

/******* Register *******/

/* #register {
  margin: 25px auto;
}

#register .panel-heading {
  color: #fff;
  font-weight: bold;
  background: #0F6757;
  border-radius: 0;
}

.register-contents {
  padding: 20px 50px;
} */

/******* Live Stream *******/
#liveStream h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.liveStream, .aboutUs {
  background: #EEEEF0;
  padding: 10px 15px 20px 15px;
}
.con-title {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  padding: 0;
}

#liveStream h3 {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 0;
}

#ls-feed {
  /* margin-top: 15px; */
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
#liveStream .uls-hm-cont{
  border:1px solid #ddd;
}

#ls-feed .lsTitle {
  font-size: 15px;
  color: #fff;
  background: #007861;
  font-weight: 600;
  padding: 5px 0;
}

#ls-feed .lspl {
  font-size: 13px;
  color: #3a3a3a;
}

#ls-feed .lsmdate {
  font-size: 10px;
  color: #3a3a3a;
}

#ls-feed .match {
  color: #3a3a3a;
  font-weight: 500;
}

.lsWatch .submit {
  border: none;
  background: #fa6200;
  color: #fff;
  padding: 3px 25px;
  margin: 0;
  font-size: 12px;
}
#liveStream .uls-end{
  border-bottom: 1px solid #d9d9d9;
}
/******* Member Profile *******/
#memberProfile h1{
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
}

#memberProfile h3 {
  color: #606060;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
  padding: 0;
}

#memberProfile label{
  margin-bottom:0;
  padding-right: 0;
  padding-top: 0;
  font-weight: 300;
  text-align: right;
}

#memberProfile .form-control{
  height: 40px;
  border-radius:0;
  border: 1px solid #d3d3d3;
  box-shadow:none;
}
#memberProfile button{
  color: #fff;
  font-size: 12px;
  /* font-weight: bold; */
  background: #fa6200;
  padding: 5px 20px;
  border: none;
  border-radius: 0;
  letter-spacing: 1px;
  margin-bottom: 10px;

}
#accts, #oi{
  margin-bottom: 10px;
  padding: 10px 15px
}

@media (min-width:992px;) {
  .lsTeams {
    width: 60%;
  }
  .lsWatch {
    width: 8%;
  }

}

.lsRow {
  border-bottom: 1px solid #c9c9c9;
}

.lsm-b {
  border-right: 1px solid #c9c9c9;
}

.lsLeague {
  /* padding: 0 5px; */
}

.lsLeague, .lsTeams, .lsWatch {
  min-height: 40px;
  /* padding: 5px 0; */
}

.ls-ban {
  padding-top: 6px;
}

.premiver {
  width: 300px;
  height: 250px;
  border: 2px solid #f16334;
  background: url('../img/chel-ban.jpg');
  background-size: cover;
  padding: 0;
}

#liveStream .thumbnail {
  background-color: transparent;
}

.ls-thumb {
  border-radius: 0;
  position: relative;
  border: none;
}

.ls-bt {
  /* border: 1px solid #484848; */
  color: #fff;
  font-weight: 600;
  background: #01a182;
  height: 21px;
  position: absolute;
  top: -14%;
  left: 18%;
}

.ls-bb {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 400;
}

.vs {
  font-size: 12px;
  color: #303030;
  font-weight: 600;
}

/******* About Blog *******/

#blog .container, #aboutUs .container {
  padding: 10px 15px 20px 15px;
}

#about-c p {
  font-size: 15px;
  line-height: 23px;
}

#aboutUs h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0;
  padding: 0;
}

#blog h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#blog h3 {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#blog-c {
  margin-top: 15px;
}

#blog-c .blog-thumb, #aboutUs .blog-thumb {
  padding: 0;
  border: none;
  border-radius: 0;
}

#blog .caption h3 {
  color: #007861;
  font-size: 20px;
  margin: 10px 0;
}

#blog .rm {
  background: none;
  border: 1px solid #fa6200;
  border-radius: 0;
  color: #fa6200;
  padding: 10px 20px;
  margin: 10px 0 20px 0;
}

#blog .premiver, #aboutUs .premiver, #contactUs .premiver, #blogContent .premiver {
  width: 300px;
  height: 250px;
  border: 2px solid #f16334;
  background: url('../img/chel-ban.jpg');
  background-size: cover;
  padding: 0;
}

#blog-c .article {
  padding: 0 5px 0 0;
}

#blog small {
  margin: 10px 0;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  background: #01a182;
  color: #fff;
  font-weight: 600;
}

.pagination>li>a, .pagination>li>span {
  background: none;
  color: #01a182;
}

.pagination {
  margin: 0;
}

/******* Blog Content *******/

#blogContent ol {
  padding-left: 15px;
}

#blogContent ol li {
  font-size: 16px;
}

#blogContent h3 {
  font-size: 22px;
  color: #007861;
}

#blogContent ol, #blogContent ol a {
  color: #007861;
  font-weight: 500;
}

/******* Contact *******/

#contactUs {
  color: #4e4e4e
}

#contactUs p {
  margin: 0;
}

#contactUs h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  padding: 0;
}
#contactUs label{
  font-weight: 300;
  color: #606060;
  padding: 10px 0 0 0;
}

#contactUs input{
  margin-bottom: 15px;
}
.cu-top {
  padding: 0 15px;
}

.cu-in {
  padding: 2px 0 3px 20px;
  margin: 5px 0;

}
.cu-in a{
  color: #4e4e4e;
  text-decoration: none;
}
.cu-in a:hover{
  font-weight: 500;
}
.cs-mail {
  font-size: 15px;
  color: #01a182;
  font-weight: 600;
}

.cu-if {
  padding: 10px 0 10px 20px;
  margin: 5px 0;
}

.cu-s {
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  background: #fa6200;
  border-radius: 0;
  margin-left: 10px;
}


/******* Seasonal Leaderboard *******/

.s-lead {
  background: #f0f0f0;
  min-height: 700px;
}

#s-lead h2 {
  font-weight: bold;
  color: #fa6200;
}

#s-lead thead {
  font-size: 16px;
  color: #fff;
  background: #0e6857;
}

#s-lead .well {
  background: #d3d3d3;
}

/* Live ScoreEND*/
/******* Social Media *******/
.smwidget{
  position: fixed;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  z-index:1;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b59a2;
  color: #fff;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-bottom: 3px;
}

.twitter {
  background: #00b2f8;
  color: #fff;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-bottom: 3px;

}

.google {
  background: #d61616;
  color: #fff;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-bottom: 3px;

}

.reddit {
  background: #ff4500;
  color: white;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-bottom: 3px;

}

.youtube {
  background: #bb0000;
  color: #fff;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-bottom: 3px;
reddit
}
/* Footer */
#footer{
  background: #005646;
  padding: 10px 0;
}

#footer p {
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding-top: 2px;
}

#footer-bg {
  color: #fff;
  background: #007861;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 0 40px 0;
}

#footer-bg h3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

#footer-bg a:hover {
  text-decoration: none;
}

#footer-bg ul {
  list-style: none;
  padding: 0;
}

#footer-bg ul li {
  font-size: 13px;
  line-height: 25px;
}


/* Media Queries */

/* Home */

@media (min-width: 320px) {

  .navbar-brand{
    height: auto;
  }
  .navbar-toggle {
    margin-top: 20px;
    margin-right: 5px;
  }
  #home-panel-desc {
    padding: 15px 0;
    margin: 0;
  }
  #side-ad {
    margin: 0 auto 5px;
    padding: 0;
  }

  .hm-tip {
    font-size: 18px;
  }

  #footer {
    padding: 15px 5px;
  }
  #footer a {
    font-size: 13px;
    color: #fff;
    margin: 0;
    line-height: 25px;
  }
  #footer .fftp a {
    border:none;
  }
  .fcopy {
    text-align: left;
  }
  .carousel .carousel-inner{
    width: 100%;
    max-height: 300px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .uls-hm-feed h2{
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }
  #csmt{
    text-align: center;
    float: none;
    display: block;
    margin: 25px auto;
  }

}

@media (min-width: 480px) {
  .chels {
    min-height: 380px;
  }
  #loginModal .modal-body {
    width: 400px;
  }
}
@media (min-width: 659px){
  body {
    margin: 0;
    /* padding: 31px 0 0 0; */
  }
}
@media (min-width: 768px) {
  #home-panel-desc {
    padding: 0 0 0 20px;
    /*Adjust MQ*/
  }
  .navbar-right .dropdown-menu{
    right:20px;
  }
  #ls-right-side {
    margin-top: 10px;
  }
  .chels {
    min-height: 620px;
  }
  .modal-dialog {
    width: 518px;
  }
  #memberProfile label{
    min-height: 40px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: flex-end;
  }

}

@media (min-width: 992px) {

  #footer-bg{
    padding: 0 0 40px 0;
  }
  .left-bar-h {
      width: 70.92857142857143%;
  }
  .left-bar {
    width: 69.4%;
  }
  .side-bar-h {
    width: 28.57142857142857%;
    /* margin-left: .5%; */
    float: right;
  }
  .side-bar {
    width: 30.571429%;
    /* margin-left: .5%; */
    float: right;
  }
  #side-ad {
    margin: 0 auto;
    padding: 0 0 0 3px;
  }
  #side-ad img{
    height: 307px;
    margin-bottom: 5px;
 }
  #ls-right-side {
    margin-top: 0;
  }
  #home-panel-tips {
    margin-bottom: 5px;
  }
  #footer a {
    padding: 0 7px;
    border-right: 1px solid #fff;
  }
  .fcopy {
    text-align: right;
    float: right;
  }
  #home-carousel .carousel-inner{
    width: 100%;
    max-height: 300px;
    margin-bottom: 5px;
  }
  .carousel .carousel-inner{
    margin-top: 0px;
  }
  .uls-hm-feed h2{
    font-size: 12px;
    font-weight: 600;
  }
  #csmt{
    text-align: right;
    float: right;
    display: block!important;
  }
  .cu-s {
    float: right;
  }
}

@media (min-width: 1200px) {
  #home-panel-desc {
    padding: 0 0 0 10px;
    /*Adjust MQ*/
  }
  #home-tip {
    width: 68%;
  }
  #footer .fftp {
    width: 14.666667%;
  }
  #footer .fau {
    width: 11%;
  }
  #footer .ftc {
    width: 22%
  }
  #footer .ffc {
    width: 14%;
  }
  #footer .ffb {
    width: 6.5%;
  }
  #footer .fc {
    width: 10%;
  }
}
@media (max-width: 992px) {
  #mobljk .navbar-brand > img{
    width: 70%;
    margin: 0 auto;

  }
  #mobljk a.navbar-brand {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hPl, .hLeague {
    border-right: none;
  }
  #footer{
    padding: 10px 15px;
  }
  #footer-bg {
    padding: 10px 15px 80px 15px;
  }
  .smwidget{
    display: none;
  }
  .carousel .carousel-inner img{
    width: 100%;
    height: 180px;
    /* margin-top: 31px; */
  }
}

@media (max-width: 480px) {
  /* #home-panel .panel-body {
    padding: 15px 15px 0 5px;
  } */
  #perfect-ten-mobile {
    /* min-height: 120px; */
  }
  .uls-hm-feed .aa {
    min-height: 30px;
  }

}

@media (max-width: 320px) {
  #ftp-contents {
    padding: 0;
  }
  #myTabContent {
    padding: 5px;
  }
  .home-tip{
    font-size:18px;
    width: 65%;
  }
}

@media (min-width: 768px){
    .navbar-nav{
        /* margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none; */
    }
}

/*
#home-panel-tips img.star{

height: 14px;
}

.navbar-inverse {
  min-height: 70px;
  background: #000;
}
.navbar-brand img{
  height: 35px;
}
.navbar-fixed-top.blck{
  height: 60px;
} */
/* #navbar .fa{
  color: #fff;
  font-size: 2.8rem;
}
#navbar .fa-user{
 color: #fff;
 font-size: 2.8rem;
}
.navbar-brand{
  padding-top: 6px;
} */
#navbar .fa{
  color: #fff;
  font-size: 2.8rem;
}
#mobljk .navbar-fixed-top {
  top: 29px;
}

/*** ***/

.bodymove{
  padding-top: 60px!important;
}
.mve{
  top: 29px;
}

/* #alertg{
  position: relative;
  top: 0;
} */

#uldeid{
  margin-bottom: 5px;
}
#prenav{
  padding: 10px 0;
}
