@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: rgba(0, 0, 0, .8);
  background: #fff;
  font-family: "montserrat";
}

/*Global*/

#home-panel .thumbnail .caption {
    padding: 9px 0 0 0;
    color: #333;
}

#box-search {
  padding-bottom: 10px;
  height: 140px;
}
/*******Font *******/

.montserrat {
  font-family: "montserrat";
}

.poppins {
  font-family: "Poppins";
}

.light {
  font-weight: 300;
}

.med {
  font-weight: 500;
}

.semi-bold {
  font-weight: bold;
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.extra {
  font-weight: 800;
}

.ten-fifty, .nav-container {
  width: 1050px;
  margin: 0 auto;
}

.ten-fifty {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.hundred {
  width: 100%;
  overflow: auto;
}

.border {
  border: 1px solid #d9d9d9;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;
}

.no-borderr {
  border-radius: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
}

.all-space {
  width: 100%;
}

.v-align {
  display: flex;
  align-items: center;
}

.h-align {
  display: flex;
  justify-content: center;
}

.d-block {
  display: block;
}

/* BG */

.bluegreen {
  background: #01a182;
  background-color: #01a182;
}

.orange {
  background: #fa6200;
  background-color: #fa6200;
}

.wash {
  /* background: #d3d3d3;ccdedd3d
  background-color: #d3d3d3; */
  background: #EEEEF0;
  background-color: #EEEEF0;
}

.dark-bg {
  background: #0e6857;
  background-color: #0e6857;
}

.dark-grey {
  background: #8f8f8f;
  background-color: #8f8f8f;
}

.l-grey {
  /* background: #d9d9d9;
  background-color: #d9d9d9; */
  background: #EEEEF0;
  background-color: #EEEEF0;
}

.white-bg {
  background: #fff;
  background-color: #fff;
}

.ls-grey {
  background: #EEEEF0;
  background-color: #EEEEF0;
}

/* Colors*/

.light-grey {
  color: #484848;
}

.d-grey {
  color: #9c9c9c;
}

.blueGreen {
  color: #01a182;
}

.white {
  color: #fff;
}

.orange-c {
  color: #fa6200;
}

/******* Navigation *******/

.navbar {
  margin: 0;
  border: none;
  top: 0;
}

.navbar-brand {
  padding: 12px 0;
}

.navbar-header {
  float: left;
}

.navbar-inverse {
  min-height: 70px;
  background: #000;
}

#navbar .navbar-right {
  margin: 20px 0;
  float: right;
}

#navbar .form-control, #post-navbar .form-control {
  border-radius: 0;
  border: none;
}

#navbar button, #post-navbar button {
  border-radius: 0;
  border: none;
}

#navbar button a, #post-navbar button a {
  color: #fff;
  text-decoration: none;
}

#navbar button, #navbar a {
  border: none;
  border-radius: 0;
}

/******* Login Modal *******/

.login-modal {
  margin: 10px 0 20px 0;
}

.login-modal .submit {
  color: #fff;
  font-weight: bold;
  background: #fa6200;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.modl-sn{
  padding-right: 10px;
}
/* #loginModal label {
  padding-right: 0;
} */

/* #loginModal img {
  margin-bottom: 15px;
} */

#loginModal .login-link {
  padding-bottom: 5px;
}

#loginModal .login-link a {
  text-decoration: none;
  color: #333333;
  margin: 0;
}



/******* Post Navigation *******/

#post-navbar button, #post-navbar a {
  margin-top: 20px;
  border: none;
  border-radius: 0;
}

#post-navbar li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  padding: 20px 20px 0 0;
}

/******* Second Nav *******/

/*
#second-nav {
  background: #01a182;
  padding: 0;
  font-size: 16px;
  display: flex;
}

#second-nav .container {
  padding: 0;
}

.scrollmenu {
  width: 100%;
}

.sn-border {
  border-right: 1px solid #d9d9d9;
}

#second-nav .container .scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

#second-nav .container .scrollmenu ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#second-nav .container .scrollmenu ul li {
  flex-grow: 1;
}

#second-nav .container .scrollmenu ul li a {
  border-left: 1px solid #ffffff61;
  color: #fff;
  padding: 5px 29px;
  text-decoration: none;
  float: left;
  font-size: 13px;
  font-weight: 400;
}

#second-nav .container .scrollmenu ul:first-child {
  border: none;
  border-left: none;
}

.last a {
  border: none;
}

#second-nav .container .scrollmenu ul li a:hover, #second-nav .container .scrollmenu ul li a:active {
  background-color: #0e6857;
}

#second-nav .container .scrollmenu ul li a img {
  margin: -3px 0 0px 0px;
}

#forgotPassword {
  margin-top: 5px;
  padding-left: 3px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
} */

/******* 2nd NAv *******/

#secMenu a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.inner-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0;
}

#secNav {
  margin: 0 auto !important;
  padding: 0 !important;
  background: #01a182;
  box-shadow: 0 0 3px #999;
  width: 100% !important;
}

#secNav .inner-wrapper {
  overflow: auto;
  white-space: nowrap;
}

#secNav #secMenu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 0 !important;
  margin: 0;
  width: 100% !important;
  display: table;
}

#secMenu li {
  display: table-cell;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgba(255, 255, 255, .4);
}

#secMenu a.secLink {
  /* color: #fff; */
  padding: 8px 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

#secMenu li:nth-of-type(1) {
  border-left: 1px solid rgba(255, 255, 255, .4);
}

#secNav .inner-wrapper #secMenu li a:hover {
  background: #0e6857 !important;
  background-color: #0e6857 !important;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

/* #secNav .inner-wrapper #secMenu li a:focus:active{
  background: orange!important;
  background-color: orange!important;
}
#secNav .inner-wrapper #secMenu li a:focus{
  background: orange!important;
  background-color: orange!important;
} */

/* .active{
  background: yellow!important;
} */

/* button.selected{
  color:red;
} */

/* #secMenu a:focus{
  outline:5px auto;
  color: red;
} */

/******* Jumbotron *******/

/* .home-banner {
  margin-top: 0px;
  background: url('../img/home-banner.jpg') top center;
  min-height: 250px;
  margin-bottom: 5px;
} */

#home-carousel .carousel-inner {
  width: 100%;
  max-height: 300px !important;
  margin-bottom: 7px;
}

/******* Home Panel *******/

#home-panel .panel-heading {
  background-color: #01a182;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
  font-size: 15px;
  padding: 5px 10px 5px 15px;
}

#home-panel-tips .panel-heading, .uls-head {
  background-color: #0e6857;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
  font-size: 14px;
  padding: 5px 0 5px 15px;
}

#home-panel-tips .panel {
  margin-bottom: 0;
}

#home-panel .panel-body {
  border: 1px solid #c9c9c9;
  margin-bottom: 0px;
  padding: 10px;
}

#home-panel-tips .tipsters {
  padding: 1px 0;
}

.tipsters img {
  height: 35px;
}

#home-panel-tips .panel .border {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

#home-panel-tips .fa-star {
  margin: 0 2px;
}

#home-panel-tips .tc-m {
  min-height: 45px;
  color: #3a3a3a;
}

#home-panel-tips .match {
  font-size: 12px;
  font-weight: 500;
}

.panel-default>.panel-heading {
  border: none;
}

.home-ft-img {
  padding: 0 0 0 5px;
}

.orange-b {
  min-height: 100px;
  border: 2px solid #fa6200;
}

.f-thumb {
  border-radius: 0;
  position: relative;
  border: none;
  background: url('../img/featured.png');
  background-repeat: no-repeat;
}

.border-time {
  border: 1px solid #D3D3D3;
  background: #fff;
  height: 16px;
  position: absolute;
  top: -18%;
  left: 18%;
}

.border-time p {
  font-size: 10px;
}

#home-panel-desc {
  margin: 0 0 0 15px;
  /*Adjust MQ*/
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.home-tip {
  font-size: 22px;
  padding: 0;
}

#home-rm {
  margin-top: 0px;
   padding: 5px 10px;
   color: #fff;
}

#home-panel .h-vs img {
  height: 65px;
}

#home-panel h6 {
  margin: 5px 0;
}

#home-panel h1 {
  margin: 0;
  position: absolute;
    bottom: 0;
}

#home-panel-left {
  padding-left: 15px;
}

/******* Perfect 10 *******/

#perfect-ten {
  /* background: url('../img/perfect-10.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; */
  min-height: 109px;
  margin: 3px auto;
}

#perfect-ten-mobile {
  /* background: url('../img/perfect-10-mobile.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; */
  min-height: 150px;
  margin: 0 auto;
}

/******* Home-Tipsters Comparison *******/

.h-tc {
  margin-bottom: 5px;
}

.hm-tips-c {
  background-repeat: View Moret;
  background-position: top center;
}

.hm-tips-bg {
  background-image: url('../img/home-tips-bg.png');
  min-height: 57px;
  background-size: cover;
  background-position: top center;
}

.hm-bet365 {
  background: #13674D;
  min-height: 45px;
  /* background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
}

.hm-bet-bright {
  background: #0094d0;
  min-height: 45px;
  /* background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
}

.hm-bet-fred {
  background:#01015b ;
  min-height: 45px;
  /* background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
}

.hm-888 {
  background: url('../img/hm-888.jpg');
  min-height: 45px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.hm-tip {
  font-size: 21px;
  font-weight: bold;
  color: #1fe8c1;
  padding: 10px 0 0 0px;
}

.hm-more {
  color: #252525;
  padding: 4px 0;
  margin: 0;
  text-decoration: underline;
}

.hm-tc-icon {
  margin: 0 0 5px 10px
}

.hm-side-tip {
  padding-left: 12px;
  /*Adjust MQ*/
}
/*******Live Score *******/
#livescore .fa-calendar{
  margin:0;
  padding: 2px;
  border: none;
}

/******* Upcoming Live Streams *******/

/* Home */
.uls-hm-feed-c {
  /* padding: 5px 0; */
}
.uls-hm-feed{
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, .05);
  box-shadow:0px 1px 1px rgba(0, 0, 0, .05);

}
.uls-hm-feed img {
  height: 25px;
  /* margin: 5px 0; */
}

.uls-hm-feed p {
  font-size: 12px;
  font-weight: 500;
}

.uls-hm-feed .submit {
  border: none;
  background: #fa6200;
  color: #fff;
  padding: 3px 25px;
  margin: 0;
  font-size: 9px;
}

.hPl, .hLeague {
  border-right: 1px solid #c9c9c9;
}
.hWatch a:hover, a:focus{
  text-decoration:none;
  color: #fff;
  font-weight: 600;
}
.uls-hm-feed .submit a {
  font-size: 9px;
  margin: 0;
}

.uls-hm-feed .aa {
  min-height: 45px;
}

.uls-b {
  border-right: 1px solid #c9c9c9;
}

.hmore-b {
  border-top: 1px solid rgba(221,221,221,.7);
}

.pl {
  font-size: 13px;
  color: #3a3a3a;
}

.ln {
  line-height: 20px;
}

.uls-hm .row {}

/******* Home Sidebar *******/

#home-panel-right, #side-football-tables {
  /* padding: 8px 15px 5px 15px; */
  margin-bottom: 5px;
}

#home-panel-right ul.f-l li {
  width: 100%;
  /* padding: 3px 0; */
  border-bottom: 1px solid #dbdbdb;
}

#home-panel-right .dropdown-menu {
  /* left: -800%; */
  min-width: 300px;
  border-radius: 0;
  padding: 0;
}

.dropdown-menu>li>a {
  padding: 6px 15px;
}

.dropdown-menu>li>a:last-child {}

.sideTitle {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 5px 0 5px 15px;
  font-weight: 600;
  margin: 0;
}

.side-btn {
  border: none;
  background: none;
}

.side-utitle {
  border-bottom: 4px solid #000;
  padding: 0 2px 0 0;
  margin-bottom: -3px;
  font-size: 13px;
}

.side-fs {
  /* margin-top: 4px; */
  border-bottom: 1px solid #dbdbdb;
}

.first-champ {
  margin-top: 5px;
}

.side-fs a {
  color: #262626;
}

.side-fs a:hover {
  color: #01a182;
  text-decoration: none;
}

.side-fs:hover {
  /* background-color: #f5f5f5; */
}

.champ-text {
  margin: 0 15px;
  font-size: 11px;
  padding: 5px 0;
}

.fs-team {
  padding: 0px 8px;
  font-size: 1.2rem;
  font-weight: 600;
}

.fs-team2 {
  padding: 0px 0 0px 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.fs-score {
  background: #fa6200;
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  letter-spacing: 1px;
}

span .fs-score {
  margin-right: 12px;
}

.last-champ {
  border: none;
}

.agg {
  font-size: 10px;
  /* Adjust MQ*/
  text-align: center;
  letter-spacing: 1px;
  padding: 0 0 0 10px;
  margin-bottom: 3px;
}

.vm-pa {
  padding: 4px 0;
  border-bottom: none;
  /* margin: 0 4% 5px; */
  background: #959595;
}

.vm-pa a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.vm-pa:hover {
  background: #666565;
}

.vm {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/*League Table*/

#side-table-scores {
  padding: 3px 0;
  margin-top: 3px;
}

#side-table-scores table {
  border-spacing: 0;
  font-size: 1.2rem;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table-cell-bold {
  font-weight: 600;
}

#side-table-scores table tr:hover {
  color: #01a182;
}

.table .table-break {
  border-top: 2px dashed #747474 !important;
}

.home-thead {
  background: #EEEEF0;
  margin: 5px 15px 0 15px;
}

.hpr-title {
  background: red;
  margin: 0;
  padding-left: -15px;
  padding-right: -15px;
}

#side-table-scores .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 5px !important;
}

#side-table-scores th {
  font-weight: 600;
}

/*Free to Play Competition*/

#ftp-contents .nav-tabs {
  color: #fff;
  border-bottom: 5px solid #0e6857;
  background: #a6a6a6;
}

#ftpTabs li.active a {
  color: #fff;
  font-weight: bolder;
  background-color: #0e6857;
  border: none;
  border-bottom: 1px solid #0e6857;
}

#ftp-contents .nav-tabs>li>a {
  color: #fff;
  border-radius: 0;
  font-weight: bold;
}

#ftp-contents .nav li a:hover, .nav li a:focus {
  background-color: #0e6857;
  border: none;
}

.ftp-container {
  background: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-top: none;
  min-height: 600px;
}

#myTabContent {
  padding: 20px;
}

#myTabContent h1 {
  font-weight: bold;
  color: #fa6200;
}

.ftp-contest-submit {
  margin: 25px 0 20px 0;
}

.ftp-contest-submit .submit {
  color: #fff;
  font-weight: bold;
  background: #fa6200;
  padding: 10px 30px;
  border: none;
  letter-spacing: 1px;
}

.row .btn-contest {
  padding: 5px 15px;
  min-width: 300px;
  margin: 10px;
  border: none;
  color: #575757;
  background: #fff;
}

#ftp-contents .nav-tabs.nav-justified li a {
  border: none;
  margin-bottom: 0;
}

#ftp-play-content {
  font-size: 15px;
}

#ftp-play-content .perfect-pred {
  font-size: 22px;
  color: #fa6200;
  font-weight: bold;
}

#ftp-play-content .prize-str {
  font-size: 16px;
  line-height: 0;
}

#ftp-play-content h3 {
  font-weight: bold;
  margin: 5px 0;
}

#ftp-play-content .terms-condition ul {
  padding: 0 0 0 20px;
}

#ftp-play-content .terms-condition {
  padding: 10px 20px;
  ;
  background: #d3d3d3;
}

#ftp-leaderboard-content .table tbody tr:nth-of-type(odd) {
  background: #e4e4e4;
}

#ftp-leaderboard-content .table-hover tbody tr:hover {
  color: #01a182;
}

#ftp-leaderboard-content table tbody tr {
  height: 27px;
  background: #fff;
}

#ftp-leaderboard-content .table tbody tr td {
  padding: 2px 0;
}

#ftp-leaderboard-content table thead th {
  font-size: 16px;
  color: #fff;
  background: #0e6857;
  height: 36px;
  padding: 6px 0;
}

#ftp-leaderboard-content table thead {}

/******* Register *******/

/* #register {
  margin: 25px auto;
}

#register .panel-heading {
  color: #fff;
  font-weight: bold;
  background: #0F6757;
  border-radius: 0;
}

.register-contents {
  padding: 20px 50px;
} */

/******* Live Stream *******/
#liveStream h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.con-title {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  padding: 0;
}

#liveStream h3 {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px 0;
  padding: 0;
}

#ls-feed {
  /* margin-top: 15px; */
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
#liveStream .uls-hm-cont{
  border:1px solid #ddd;
}

#ls-feed .lsTitle {
  font-size: 15px;
  color: #fff;
  background: #007861;
  font-weight: 600;
  padding: 5px 0;
}

#ls-feed .lspl {
  font-size: 13px;
  color: #3a3a3a;
}

#ls-feed .lsmdate {
  font-size: 10spx;
  color: #3a3a3a;
}

#ls-feed .match {
  color: #3a3a3a;
  font-weight: 500;
}

.lsWatch .submit {
  border: none;
  background: #fa6200;
  color: #fff;
  padding: 3px 25px;
  margin: 0;
  font-size: 12px;
}
#liveStream .uls-end{
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width:992px;) {
  .lsTeams {
    width: 60%;
    /*Adjust MQ (min-width: 992px)*/
    /* padding: 0 20px; */
  }
  .lsWatch {
    width: 8%;
    /*Adjust MQ*/
  }

}

.lsRow {
  border-bottom: 1px solid #c9c9c9;
}

.lsm-b {
  border-right: 1px solid #c9c9c9;
}

.lsLeague {
  /* padding: 0 5px; */
}

.lsLeague, .lsTeams, .lsWatch {
  min-height: 40px;
  /* padding: 5px 0; */
}

.ls-ban {
  padding-top: 6px;
}

.premiver {
  width: 300px;
  height: 250px;
  border: 2px solid #f16334;
  background: url('../img/chel-ban.jpg');
  background-size: cover;
  padding: 0;
}

#liveStream .thumbnail {
  background-color: transparent;
}

.ls-thumb {
  border-radius: 0;
  position: relative;
  border: none;
}

.ls-bt {
  /* border: 1px solid #484848; */
  color: #fff;
  font-weight: 600;
  background: #01a182;
  height: 21px;
  position: absolute;
  top: -14%;
  left: 18%;
}

.ls-bb {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 400;
}

.vs {
  font-size: 12px;
  color: #303030;
  font-weight: 600;
}

/*
#liveStream .ls-row {
  margin-top: 5px;
  min-height: 111px;
  display: flex;
  flex-wrap: wrap;
}

#liveStream h1 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 0;
}

.ls-leftCont {
  padding: 10px 0;
  background: #fff;
}

.ls- umb {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

#liveStream .ls-btn a {
  text-decoration: none;
  color: #fff;
}

.ls-btn button {
  background: #fa6200;
  border: none;
  padding: 5px 20px;
}

#ls-left-side {
  margin-bottom: 5px;
}

.ls-border-time {
  color: #fff;
  font-weight: bold;
  background: #01a182;
  height: 21px;
  position: absolute;
  top: -2.5%;
  left: 14.5%;
}

#ls-right-side h4 {
  margin-top: 20px;
}

#ls-right-side .ls-vs p {
  font-size: 12px;
  margin-right: 2px;
}

#ls-right-side .ls-side-r1 {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
}

.ls-side-b1, .ls-side-b2, .ls-side-b3 {
  min-height: 80px;
  margin-bottom: 10px;
}

.chels {
  background: url('../img/our-tip.png');
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
} */

/******* About Blog *******/

#blog .container, #aboutUs .container {
  padding: 10px 15px 20px 15px;
}

#about-c p {
  font-size: 15px;
}

#aboutUs h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0;
  padding: 0;
}

#blog h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#blog h3 {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#blog-c {
  margin-top: 15px;
}

#blog-c .blog-thumb, #aboutUs .blog-thumb {
  padding: 0;
  border: none;
  border-radius: 0;
}

#blog .caption h3 {
  color: #007861;
  font-size: 20px;
  margin: 10px 0;
}

#blog .rm {
  background: none;
  border: 1px solid #fa6200;
  border-radius: 0;
  color: #fa6200;
  padding: 10px 20px;
  margin: 10px 0 20px 0;
}

#blog .premiver, #aboutUs .premiver, #contactUs .premiver, #blogContent .premiver {
  width: 300px;
  height: 250px;
  border: 2px solid #f16334;
  background: url('../img/chel-ban.jpg');
  background-size: cover;
  padding: 0;
}

#blog-c .article {
  padding: 0 5px 0 0;
}

#blog small {
  margin: 10px 0;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  background: #01a182;
  color: #fff;
  font-weight: 600;
}

.pagination>li>a, .pagination>li>span {
  background: none;
  color: #01a182;
}

.pagination {
  margin: 0;
}

/******* Blog Content *******/

#blogContent ol {
  padding-left: 15px;
}

#blogContent ol li {
  font-size: 16px;
}

#blogContent h3 {
  font-size: 22px;
  color: #007861;
}

#blogContent ol, #blogContent ol a {
  color: #007861;
  font-weight: 500;
}

/******* Contact *******/

#contactUs {
  color: #4e4e4e
}

#contactUs p {
  margin: 0;
}

#contactUs h1 {
  color: #fa6200;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
}

.cu-top {
  padding: 0 15px;
}

.cu-in {
  padding: 2px 0 3px 20px;
  margin: 5px 0;
}

.cs-mail {
  font-size: 15px;
  color: #01a182;
  font-weight: 600;
}

.cu-if {
  padding: 10px 0 10px 20px;
  margin: 5px 0;
}

.cu-s {
  color: #fff;
  font-size: 18px;
  padding: 23px 72px;
  border: none;
  background: #fa6200;
  border-radius: 0;
  margin-left: 10px;
}

.robo {
  margin: 20px 0;
}

/******* Seasonal Leaderboard *******/

.s-lead {
  background: #f0f0f0;
  min-height: 700px;
}

#s-lead h2 {
  font-weight: bold;
  color: #fa6200;
}

#s-lead thead {
  font-size: 16px;
  color: #fff;
  background: #0e6857;
}

#s-lead .well {
  background: #d3d3d3;
}

/*Tipsters Comparison START*/

/*
#tipscomparison {
  float: left;
  width: 100%;
  font-family: gothic, arial;
}

#tccontainer {
  width: 1050px;
  background: #eeeef0;
  margin: 0 auto;
  padding: 10px;
  height: 870px;
}

#tcpage {
  width: 750px;
  float: left;
}

#tctitle {
  background: #0e6857;
  color: #ffffff;
  width: 99.5%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#tctagline {
  width: 100%;
}

#tctagline p {
  float: left;
  font-size: 16px;
  margin: 15px 0px;
}

#tctagline button {
  float: right;
  background: #fa6200;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 5px 5px;
  font-weight: bold;
  width: 160px;
}

#tctblcontainer {
  width: 100%;
  float: left;
}

.tctbl {
  width: 370px;
  background: url("../img/tcbg.jpg");
  float: left;
  margin: 5px 5px 0 0;
  height: 370px;
}

#tcad {
  float: left;
  margin: 0 0 0 10px;
  width: 270px;
}

.tcadbaby {
  width: 265px;
  background: white;
  height: 260px;
  margin-bottom: 10px;
  border: solid 2px #f16334;
}

.tbltitle {
  text-align: center;
  background: #10664b;
  padding: 8px;
  height: 50px;
}

.tipform {
  text-align: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}

.tcwhite {
  color: #ffffff;
  vertical-align: bottom;
}

.tcgreen {
  color: #0de9a4;
  vertical-align: bottom;
}

.tcmatch {
  float: left;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 0;
}

.tcmatchgme {
  float: left;
  width: 175px;
  color: #ffffff;
  text-align: center;
}

.tcmatchgme p {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
  margin-bottom: 0;
}

.tcvs {
  color: #ffffff;
  vertical-align: middle;
  height: 100px;
  float: left;
  line-height: 100px;
  font-size: 16px;
  font-weight: bold;
}

.tctip {
  font-size: 24px;
  font-weight: bold;
  color: #ff6400;
  text-align: center;
  float: left;
  width: 100%;
}

.tctbl button {
  color: #ffffff;
  background: #fa6200;
  border: none;
  margin: 15px 0;
  font-size: 18px;
  padding: 6px;
  width: 170px;
}

.tcadtop {
  background: url(../img/kidlat.jpg) no-repeat center;
  width: 100%;
  height: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  float: left;
  padding: 1px;
}

.tcadtitle {
  width: 100%;
  float: left;
  text-align: center;
}

.tcadtitle p {
  margin: 0;
}

.tcadtitle p:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px;
}

.tcadmatches {
  font-weight: bold;
  float: left;
  line-height: 55px;
  padding: 0 5px;
}

.tcadimg {
  width: 55px;
  float: left;
}

.tcadimg img {
  width: 100%;
}

.tcadmatch {
  float: left;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.tcadban {
  background: url(../img/tcadban.jpg) no-repeat center;
  height: 95px;
  width: 100%;
  float: left;
  background-size: cover;
} */

/*Tipsters Comparison END*/

/*TC Summary Report START*/

/*
#tcsrtbl {
  width: 750px;
  margin: 20px auto;
  border: 1px solid #dadada;
  background: #ffffff;
}

#summaryreports {
  float: left;
  width: 100%;
  font-family: gothic, arial;
  background: #ffffff;
}

#summaryreportscont {
  width: 1050px;
  background: #eeeef0;
  margin: 0 auto;
  padding: 10px;
  height: 870px;
  text-align: center;
}

#summaryreportscont h2 {
  font-weight: bold;
  color: #fa6200;
}

#summaryreportscont p {
  font-size: 15px;
}

#tcsrtbl th {
  background: #0e6857;
  color: #ffffff;
  text-align: center;
  border: 1px solid #dadada;
}

#tcsrtbl tr:nth-child(even) {
  background-color: #f2f2f2
}

#tcsrtbl td {
  border: 1px solid #dadada;
} */

/*Previews & Tips START*/

/* .pttbl {
  width: 350px;
  background: url(../img/minikidlat.png) no-repeat top left;
  background-color: #ffffff;
  float: left;
  margin: 20px 5px 5px 15px;
  min-height: 320px;
  border: solid 2px #f16334;
  background-position: -2px -2px;
}

#pttblcontainer {
  width: 100%;
  float: left;
}

#pttitle {
  background: #0e6857;
  color: #ffffff;
  width: 99.5%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#ptpage {
  width: 750px;
  float: left;
}

#pt {
  float: left;
  width: 100%;
  font-family: gothic, arial;
}

.pttop {
  width: 170px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 1px;
  color: #484848;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  position: relative;
  top: -15px;
  background: #ffffff;
}

.ptpagetitle {
  width: 100%;
  text-align: center;
}

.ptpagetitle h4 {
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}

.ptpagetitle p {
  font-size: 13px;
  margin-bottom: 0;
}

.ptmatch {
  float: left;
  width: 100%;
}

.ptmatchie {
  width: 50%;
  float: left;
  text-align: center;
}

.ptmatchie p {
  font-weight: bold;
  margin: 2px;
  font-size: 13px;
}

.ptmatchie img {
  width: 30%;
}

.ptph {
  float: left;
  width: 100%;
  padding: 5px 30px;
  font-size: 15px;
  margin: 0;
  font-size: 13px;
}

.pttip {
  float: left;
  width: 100%;
  padding: 5px 0 0px 0px;
  font-size: 15px;
  text-align: center;
}

.pttip span {
  color: #01a182;
  width: 100%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0px;
}

.pttip button {
  color: #ffffff;
  background: #fa6200;
  border: none;
  margin: 0;
  font-size: 13px;
  padding: 5px;
  width: 110px;
}

.pttip p {
  margin: 0;
  font-size: 14px;
}

.ptadbaby {
  width: 265px;
  background-color: white;
  height: 205px;
  margin-bottom: 10px;
  background-size: cover;
}

.ptban1 {
  background: url(../img/ptban1.jpg) no-repeat center;
  background-size: cover;
}

.ptban2 {
  background: url(../img/ptban2.jpg) no-repeat center;
  background-size: cover;
}

#pt2cont {
  background: #ffffff;
  float: left;
  max-width: 736px;
  width: 100%;
}

#pt2title {
  background: #0e6857;
  color: #ffffff;
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.pt2matchcont {
  width: 100%;
  float: left;
}

.pt2match:nth-of-type(1) {
  padding-left: 60px;
}

.pt2match:nth-of-type(3) {
  padding-right: 60px;
}

.win {
  background: green;
  color: white;
}

.draw {
  background: gray;
  color: white;
}

.pt2match {
  float: left;
  width: 245px;
  height: 210px;
  text-align: center;
  margin: 20px 0;
}

.pt2img {
  border: 1px solid #d9d9d9;
  width: 130px;
  margin: 0 auto;
  height: 130px;
  background: #f0f0f0;
}

.pt2img img {
  width: 80px;
  margin: 25px;
}

.pt2match h1 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.lilc {
  float: left;
  width: 25px;
  margin: 3px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
}

.pt2status {
  width: 186px;
  margin: 0 auto;
  position: relative;
}

.pt2match p, .pt2match h3 {
  margin: 0;
}

.pt2match:nth-of-type(2) img {
  margin: 10px;
}

.pt2match p {
  font-size: 18px;
}

.pt2match h3 {
  font-size: 40px;
}

#pt2tables {
  width: 100%;
  float: left;
}

#pt2tablessize {
  width: 670px;
  margin: 0 auto;
}

#pttabs {
  width: 100%;
  float: left;
}

#pttabs ul li {
  float: left;
  background: #a6a6a6;
  text-align: center;
  padding: 5px;
  float: left;
  width: 223px;
  cursor: pointer;
}

#pttabs ul {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  margin: 0;
}

.pt2selected {
  background: #0e6857 !important;
  color: white;
}

.pttabres {
  width: 669px;
  border-top: 3px solid #0e6857;
  float: left;
  padding: 10px;
  display: none;
}

#pt2com {
  width: 100%;
  float: left;
  margin: 10px 0;
}

#pt2com div {
  width: 239px;
  height: 100px;
  margin: 3px;
  float: left;
}

#pt2com1 {
  background: url(../img/pt2com1.jpg);
}

#pt2com2 {
  background: url(../img/pt2com1.jpg);
}

#pt2com3 {
  background: url(../img/pt2com1.jpg);
}

#pttab1 {
  display: block;
}

#pttab2 {
  font-family: arial;
}

.h2htables {
  width: 100%;
  float: left;
}

.h2htables table {
  width: 100%;
  text-align: center;
  border-left: solid white;
  border-right: solid white;
  font-size: 12px;
}

.showmoreh2h {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 5px;
}

.showmoreh2h a {
  border-bottom: 1px solid;
  color: black;
  font-size: 12px;
}

.showmoreh2h a:hover {
  text-decoration: none;
}

.h2htables table td {
  border: 1px solid #e0e0e0;
}

.h2htabletitle {
  width: 100%;
  float: left;
  background: linear-gradient(#595959, #373737);
  color: white;
  padding: 3px 5px;
  font-size: 12px;
}

.h2htables table tr:nth-child(even) {
  background-color: #f2f2f2
}

.h2htables table img {
  width: 20px;
  margin: 0 5px;
  float: left;
}

.h2htables table span {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 20px;
  position: relative;
  float: left;
  margin: 1px 5px;
  font-size: 12px;
}

.h2h-lose {
  background: #dc2022;
}

.h2h-draw {
  background: #f4b147;
}

.h2h-win {
  background: #28bb2b;
}

.h2htables table tr td:nth-of-type(1) {
  width: 70px;
}

.h2htables table tr td:nth-of-type(2) {
  width: 65px;
}

.h2htables table tr td:nth-of-type(5) {
  width: 50px;
  font-weight: bold;
}

.h2htables table tr td:nth-of-type(6) {
  width: 32px;
}

.h2htables table tr td:nth-of-type(2), .h2htables table tr td:nth-of-type(3), .h2htables table tr td:nth-of-type(4) {
  text-align: left;
  padding: 0px 3px;
}

td {
  padding: 1px 0;
}

.h2hwinner {
  background: #fcf1b7;
  font-weight: bold;
}
*/

/*Previews & Tips END*/

/*Free to Play Competition START*/

/*
#ftpmainpage {
  font-family: arial, gothic;
}

.ftpbancont {
  width: 100%;
  height: 190px;
  float: left;
  background: url(../img/home-banner.jpg) no-repeat top center;
}

.size1050px {
  width: 1050px;
  background: #eeeef0;
  margin: 0 auto;
}

.ftpopts {
  width: 354px;
  height: 295px;
  float: left;
  margin: 20px 0px 0 15px;
}

#ftpopt1 {
  background: url(../img/ptban1.jpg) center;
  background-size: contain;
}

#ftpopt2 {
  background: url(../img/ptban2.jpg) center;
  background-size: contain;
}

.width100floatleft {
  width: 100%;
  float: left;
}

#ftpmainpage h1, #ftpmainpage p {
  margin: 0;
  text-align: center;
}

#ftpmainpage h1 {
  padding: 15px 0px 5px 0;
  color: #fa6200;
  font-weight: bold;
}

#ftpmainpage .size1050px {
  height: 500px;
}

#ftprankings {
  width: 250px;
  float: left;
  margin: 20px 30px;
}

#ftprankings span {
  width: 100%;
  background: green;
  color: white;
  float: left;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

#ftprankings table {
  width: 100%;
  height: 270px;
  font-size: 12px;
}

#ftprankings table th, #ftprankings table td {
  text-align: center;
  border: 1px solid #dadada;
}

#ftprankings table tr:nth-of-type(even) {
  background: #e4e4e4;
}

#ftprankings table tr:nth-of-type(odd) {
  background: #ffffff;
}

.linkprop {
  color: black;
  text-decoration: underline;
  font-size: 12px;
} */

/*FTP Perfect 10*/

/*
.ftp10ban {
  background: url(../img/ftpbanner.jpg) no-repeat center;
}

#ftpp10tabs {
  width: 100%;
  float: left;
  background-color: #a6a6a6;
}

#ftpp10tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 4px solid #0e6857;
  float: left;
}

#ftpp10tabs ul li {
  float: left;
  width: 350px;
  color: white;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}

#ftpp10 .size1050px {
  height: 660px;
  margin: 10px auto;
}

.ftpp10active {
  background-color: #0e6857;
}

.ftpp10tabcont {
  float: left;
  width: 100%;
  display: none;
  font-family: gothic;
  background: #eeeef0;
}

#ftpp101 {
  display: block;
}

.orangep {
  color: #fa6200;
  font-weight: bold;
  font-size: 16px;
}

#ftpp102 p {
  text-align: center;
  font-family: gothic;
  margin: 0;
}

#ftpp102 {
  padding: 20px;
  font-size: 15px;
}

#htpbox {
  background-color: #d3d3d3;
  height: 235px;
  width: 660px;
  font-family: gothic;
  margin: 0 auto;
  text-align: left;
}

#htpbox h3 {
  padding: 15px 20px 0;
  font-weight: bold;
}

#ftpp103 p {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

#ftpp103 table {
  text-align: center;
  background: #ffffff;
  width: 720px;
  margin: 0 auto;
  border: 1px solid #b8b8b8;
}

#ftpp103 table tr:nth-of-type(even) {
  background: #e4e4e4;
}

#ftpp103 table th {
  text-align: center;
  background: #0e6857;
  color: white;
}

#ftpp103 table td, #ftpp103 table th {
  border: 1px solid #dddddd;
  padding: 3px;
}

#rnd1 {
  background-color: #d3d3d3;
  width: 98%;
  margin: 0 auto;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#ftpp101 h2 {
  text-align: center;
  color: #fa6200;
  font-weight: bold;
}

.p10bet-tabs {
  width: 460px;
  height: 180px;
  float: left;
  background-color: white;
  margin: 10px;
  text-align: center;
}

.p10bet-title {
  width: 100%;
  float: left;
  background-color: #d3d3d3;
  padding: 2px;
}

#ftpp101 {
  padding: 0 45px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: left;
  margin: 10px 20px;
  cursor: pointer;
}

.p10bet-tabs .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.p10bet-tabs .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.p10bet-img, .p10bet-vs {
  float: left;
}

.p10bet-img {
  width: 45%;
  text-align: left;
}

.p10bet-img img {
  margin: 35px;
  float: left;
}

.p10bet-vs {
  line-height: 157px;
  font-weight: bold;
  margin: 0 10px;
}

.p10bet-img span {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #c8c8c8;
  text-align: center;
  font-size: 33px;
}

.p10bet-updown {
  float: left;
  width: 50px;
  padding: 25px 0;
}

#p10bet-btn {
  background: #fa6200;
  border: none;
  color: #ffffff;
  width: 180px;
  font-size: 18px;
  margin: 20px;
  font-weight: bold;
  padding: 10px;
} */

/*Free to Play Competition END*/

/* Live Score START */

/* #livescore {
  float: left;
  width: 100%;
  font-family: gothic, arial;
}

#livescorecontainer {
  width: 1050px;
  background: #eeeef0;
  margin: 0 auto;
  padding: 10px;
  min-height: 770px;
}

#livescorepage {
  width: 750px;
  float: left;
}

#livescoretitle {
  background: #0e6857;
  color: #ffffff;
  width: 99.5%;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#livescoretblcontainer {
  width: 100%;
  float: left;
  overflow: auto;
}

#livescoretblcontainer iframe {
  width: 100%;x
  background: #ffffff;
  height: 700px;
  overflow: auto;
} */

/* Live ScoreEND*/

/* Footer */

#footer, #footer-bg {
  padding: 10px 0;
}

#footer p {
  font-size: 12px;
  color: #777777;
  margin: 0;
  padding-top: 2px;
}

#footer-bg {
  color: #fff;
  background: #007861;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

#footer-bg h3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

#footer-bg a:hover {
  text-decoration: none;
}

#footer-bg ul {
  list-style: none;
  padding: 0;
}

#footer-bg ul li {
  font-size: 13px;
  line-height: 25px;
}

footer {
  /* color: #fff; */
  /* position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 12px 0 0 0;
  margin: 10px 0;
  background: #007861; */
}

/* Media Queries */

/* Home */

@media (min-width: 320px) {
  .navbar-brand {
    padding-left: 12px;
  }
  .navbar-toggle {
    margin-top: 20px;
    margin-right: 5px;
  }
  .navbar .container {
    padding-right: 15px;
  }
  #home-panel-desc {
    padding: 15px 0;
    margin: 0;
  }
  #side-ad {
    margin: 15px auto;
    padding: 3px;
  }
  #home-panel-tips {
    margin-bottom: 10px;
  }
  .hm-tip {
    font-size: 18px;
  }
  /* .chels {
    min-height: 270px;
  } */
  #footer {
    padding: 15px 5px;
  }
  #footer a {
    font-size: 13px;
    color: #777777;
    margin: 0;
  }
  .fcopy {
    text-align: left;
  }
}

@media (min-width: 480px) {
  .chels {
    min-height: 380px;
  }
  #loginModal .modal-body {
    width: 400px;
  }
}

@media (min-width: 768px) {
  #home-panel-desc {
    padding: 0 0 0 40px;
    /*Adjust MQ*/
  }
  #ls-right-side {
    margin-top: 10px;
  }
  .chels {
    min-height: 620px;
  }
  .modal-dialog {
    width: 518px;
  }
}

@media (min-width: 992px) {
  .left-bar-h {
      width: 70.92857142857143%;
  }
  .left-bar {
    width: 69.4%;
  }
  .side-bar-h {
    width: 28.57142857142857%;
    /* margin-left: .5%; */
    float: right;
  }
  .side-bar {
    width: 30.571429%;
    /* margin-left: .5%; */
    float: right;
  }
  #side-ad {
    margin: 0 auto 3px auto;
    padding: 0 0 0 3px;
  }
  #side-ad img{
    height: 307px;
 }
  #ls-right-side {
    margin-top: 0;
  }
  #home-panel-tips {
    margin-bottom: 3px;
  }
  .liveStream, .aboutUs {
    background: #EEEEF0;
    padding: 10px 15px 20px 15px;
  }
  #footer a {
    padding: 0 7px;
    border-right: 1px solid #777;
  }
  .fcopy {
    text-align: right;
    float: right;
  }
}

@media (min-width: 1200px) {
  #home-panel-desc {
    padding: 0 0 0 10px;
    /*Adjust MQ*/
  }
  #home-tip {
    width: 68%;
  }

  /* .chels {
    min-height: 280px;
  } */
  .navbar .container {
    padding-right: 0;
  }
  #footer .fau {
    width: 11%;
  }
  #footer .ftc {
    width: 22%
  }
  #footer .ffc {
    width: 14%;
  }
  #footer .ffb {
    width: 6.5%;
  }
  #footer .fc {
    width: 10%;
  }
}

@media (max-width: 768px) {
  .hPl, .hLeague {
    border-right: none;
  }
  #footer, #footer-bg {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  #home-panel .panel-body {
    padding: 15px 15px 0 5px;
  }
  #perfect-ten-mobile {
    min-height: 120px;
  }
}

@media (max-width: 320px) {
  #ftp-contents {
    padding: 0;
  }
  #myTabContent {
    padding: 5px;
  }
}
